/*

Monash Colours

Colour Name   Hex        Text Colour
--------------------------------------------------
Monash Blue   #006CAB    White       
Blue          #009FD8    White @18+   Adjusted
Cyan          #43C5E4    Black
Light Cyan    #9DDAE5    Black
Black         #231F20    White
Grey          #423F40    White
Medium Grey   #939598    White @18+
Light Grey    #D8DCDE    Black
Pale Grey     #EDEDED    Black
Purple        #44477A    White
Pink          #B6006A    White
Green         #96CA4F    White @18+   Adjusted
Yellow        #FDB515    Black

*/


/* - - - - - - - overrides - - - - - - */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: #4b4b4b;
  font-family: 'Helvetica Neue', Arial ,'Montserrat', sans-serif;
  font-weight: normal;
}


h1 {
	margin-bottom: 14px; 	 
	font-size: 36px; 
	line-height: 40px; 
}



h2 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 38px;
}


.row .row {
  padding: 0;
}

.visuallyhidden, .not-visible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px !important;
}


#logo {
  float: left;
  width: auto;
  margin-top: 5px;
}


#form_wrapper .form-content h2,
#form_wrapper .form-content h3,
#form_wrapper .form-content h4,
#form_wrapper .form-content h5,
#form_wrapper .form-content h6 {
  font-weight: 700;
}

#form_wrapper input.error, 
#form_wrapper textarea.error, 
#form_wrapper select.error {
  border: 1px solid #F00;
}


#form_wrapper select.error {
}

#form_wrapper .error {
  color: #F00;
}

#form_wrapper label.error, {
  color: #F00;
  padding-left: 1.5em;
  /*margin-top:-10px;*/
  /*background: url("mysource_files/error_icon.svg") no-repeat;*/    
  background-size:1.3em auto;
}


#form_wrapper input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.no-svg #form_wrapper label.error {
  height: 25px;
  padding-left: 0px;
}


.caption.title h1 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  margin-bottom:0;
}


.headline h1 {
  font-size: 3em;
  color: #069;
  font-size: 45px;
  line-height: 45px;
}


.headline h1::before {
  border: 0px;
}

.headline {
  margin: 20px 0 60px 0;
  text-align: left;
}


.completed-milestone {
  opacity: 0.6;
}

#blog {
  background-color: transparent;
  padding:20px 0;
}

.blog-post-date {
  color: #FFF;
}

.blog-post-info, .blog-post-title {
  background: #333;
}


.bx-wrapper .bx-controls-direction a:hover {
  border-color: #069;
  background-color: #069;
}


.bx-wrapper .bx-controls-direction a:focus{
  border-color: #069;
  background-color: #069;
}


#home .btn {
  border: 1px white solid;
  border-radius: 3px;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  margin: 40px auto;
  line-height: 28px;
  font-size: 16px;
}

.btn {
  border: 1px white solid;
  background-color: #007EB6;
  border-radius: 3px;
  height: 2em;
  display: table-cell;
  vertical-align: middle;
}

input.btn {
  height: 44px !important;
  line-height: 32px !important;
}


.icon-box-content .btn, .btn.outline-btn {
  border: 1px solid #069;
  background: transparent;
  color: #069;
}

.icon-box-content .btn:hover, .btn.outline-btn:hover, .icon-box-content .btn:focus, .btn.outline-btn:focus {
  background: #069;
  color: #FFF;
}


.dark-bg .btn.outline-btn {
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
}

.dark-bg .btn.outline-btn:hover, .dark-bg .btn.outline-btn:focus {
  border: 1px solid #FFF;
  background: #FFF;
  color: #FFF;
}

.icon-box-content .btn:hover, .btn.outline-btn:hover {
  background: #069;
  color: #FFF;
}

.icon-box-content .btn:focus, .btn.outline-btn:focus {
  background: #069;
  color: #FFF;
  outline: thin dotted #069;
}


/*.icon-box-content:hover h2 {
  color: #069;
}*/

.icon-box-content:focus h2{
  color: #069;
  outline: thin dotted #069;
}


.btn.btn-large {
  padding: 12px 24px;
  font-size: 1.5em;
}

.btn.btn-small {
  padding: 2px 6px;
  height: 1.5em;
}


.portfolio-items li {
  border-top: 1px solid #ccc;
  /*float: left;
  width: 33.333333333%;*/
}

.portfolio-filter ul {
  text-align: left;
  margin-bottom: 30px;
}


/*.portfolio-filter ul li a.btn {
display: table-cell;
padding: 7px 12px;
border-radius: 3px;
font-weight: normal;
text-decoration: none;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
*/


.portfolio-filter ul li a.btn.active {
  background-color: #069;
  color: #FFF;
}


.portfolio-item:hover .portfolio-item-preview > img {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}


.dark-bg .btn.active {
  background: #FFF!important;
  border: solid 1px #FFF!important;
  color: #069!important;
}

.dark-bg .btn:hover {
  background: #EDEDED!important;
  border: solid 1px #EDEDED!important;
  color: #069 !important;
}

.dark-bg .btn:focus{
  background: #EDEDED!important;
  border: solid 1px #EDEDED!important;
  color: #069 !important;
  outline: thin dotted #069;
}

.dark-bg .headline h1, .dark-bg .headline h5 {
  color: #FFF !important;
}

.dark-bg .headline h1:before {
  border-bottom: 0px;
}

.dark-bg .caption a.arrow {
  background: rgba(255,255,255,0.2) !important;
  border: 1px solid #FFF !important;
  color: #069 !important;
}

.dark-bg .caption a.arrow:hover{
  background: #069 !important;
  border: 1px solid #FFF !important;
  color: #FFF !important;
}

.dark-bg .caption a.arrow:focus{
   background: #069 !important;
   border: 1px solid #FFF !important;
   color: #FFF !important;
   outline: thin dotted #069;
}


.news-category-group {
  margin-bottom: 0px;
}

.news-category-group h2 {
  margin-bottom: 20px;
}


.news-category-group h3 {
  line-height: 26px;
}

.news-category-group .news-item {
  margin-bottom: 60px;
}


.news-thumb {
  background-size: 100% !important;
  background-position: center !important;
}


#home {
  text-align: center;
  min-height: 600px;
}

#home:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.responsive-img {
  /*max-width: 350px;*/
  height: auto;
}



.v-center {
  margin-top: 60px;
  display: inline-block;
  vertical-align: middle;
}

.sf-menu > li > a {
  padding: 6px 10px 5px 10px;
}

.sf-menu > li > a:before {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  width: 40px;
  border-bottom: 2px solid transparent;
  content: "";
}

.sf-menu > li.nav-home > a:before {
  border-bottom: 0px;
}

.sf-menu > li.nav-home.no-children {
  width: 0px;
}

.headline h2 {
  font-family: "Helvetica Neue","Arial",sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 1.5em;
  line-height:1.5em;
}

.headline h2:first-child{
  font-weight: bold;
  font-size: 3.5em;
  color: #069;
}


.headline h5 {
  font-family: "Helvetica Neue","Arial",sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 1.5em;
}

.white-text {
  color: #FFF;
}

.icon-box-1 { 
	position: relative; 
	margin-bottom: 40px; 
}



.icon-box-1 > i {
  border: 0px;
  background-color: transparent;
}



.icon-full-list > i {
		float: left;
		display: block;  
		width: 48px;
		height: 48px;
		color: #bebebe;
		font-size: 36px; 
		line-height: 48px;
		text-align: center;
/*    -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
        transition: all 0.3s;*/
}

.icon-full-list > i:hover {
  color: #069;
  cursor:pointer;
}
.icon-full-list > i:focus{
outline: thin dotted;
}




.buttons li a.btn:hover,
.buttons li a.btn.active{
  /*  border-color: #ffb400;
  background-color: #ffb400;*/
  
  border-color: #069;
  background-color: #069;
}

.buttons li a.btn.focus {
  background-color: #ffb400;*/
  border-color: #069;
  background-color: #069;
  outline: thin dotted #069;
}


.milestone .milestone-description {
  color: #4b4b4b;
  /*font-size: 16px;*/
  font-family:"Century Schoolbook",Georgia,"Times New Roman",Times,serif;
  font-style: italic;
  font-weight: bold;
  text-transform: none;
  font-size: 0.9em;
}

/*.milestone:hover i {
  color: #069;
}*/
/*.milestone:focus i {
  color: #069;
  outline: thin dotted #069;
}*/
.milestone:hover .milestone-content {
  color: #069;
}
.milestone:focus .milestone-content {
  color: #069;
  outline: thin dotted #069;
}

input[type="radio"] {
  display: inline-block;
  margin-bottom: 0.5em;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 0;
  float: left;
  clear: both;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

input[type="radio"]:checked {
  background-color: #333;
}

.complexity-factor select {
  float: left;
  margin-bottom: 0.5em;
}

.complexity-factor label {
  float: left;
  clear: left;
  /*width:300px;*/
  margin-right:1em;
}

.complexity-factor hr {
  clear: left;
  margin: 10px 0;
}

.complexity-factor .span4, .complexity-factor label.span3 {
  margin-left: 0;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
}

input:-moz-placeholder, textarea:-moz-placeholder {/* Firefox 18- */
  color: #999;
}

input::-moz-placeholder, textarea::-moz-placeholder {/* Firefox 19+ */
  color: #999;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999;
}


.horizontal-slider h3 {
  background: #555;
  text-align: left;
  color: #FFF;
  margin-bottom: 0px;
  padding: 5px 15px 0 15px;
  transition: all 0.3s;
}


.horizontal-slider h3 span {
  font-size: 0.8em;
  margin: 0;
  padding: 0.2em 0;
  display: block;
}

.horizontal-slider h5 {
  background: #555;
  text-align: left;
  color: #FFF;
  margin-top: -6px;
  padding: 0 15px 5px 15px;
  transition: all 0.3s;
}


.horizontal-slider h6 {
  padding: 0.5em 15px;
  text-align: left;
  line-height: 1.4em;
  color: #FFF;
  margin-top: 0px;
  transition: all 0.3s;
}
.horizontal-slider li {
  background: #767676;
  transition: all 0.3s;
  min-height: 180px;
}

.horizontal-slider li:hover, .horizontal-slider li:focus {
  background: #333;
  /*transform: scale(1.21);*/
}

.horizontal-slider li:hover h3, .horizontal-slider li:focus h3 {
  background: #069;
}

.horizontal-slider li:hover h5, .horizontal-slider li:focus h5  {
  background: #069;
}


/*----------------------------------*

Roadmap / Timeline

*-----------------------------------*/

.timeline h2 {
  background: #069;
  text-align: left;
  color: #FFF;
  margin-bottom: 0px;
  font-size:1.5em;
  padding: 5px 15px 0 15px;
  transition: all 0.3s;
}

.timeline li {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height:50px;
}

.timeline .bx-viewport {
  padding:30px 0;
}



.no-touch .timeline li:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.timeline li:hover .timeline-header, .timeline li:focus{
    background-color: #095389;
}

.timeline .timeline-header {
  background: #069;
  padding: 5px 15px 5px 15px;
}

.timeline .timeline-header .timeline-heading {
  display:block;
  font-size:2em;
  font-weight: 700;
  line-height: 1.2em;
  color: white;
  
}

.timeline .timeline-header .timeline-date {
  display:block;  
  font-size:1.2em;
  line-height:1.2em;
  margin:0.3em 0;
  color: white;
}

.timeline .timeline-body {
  
}

.timeline .timeline-body .timeline-milestone {
  color:white;
  font-size:1em;
  line-height:1.3em; 
  padding: 10px 15px 10px 15px;
  border-bottom:1px solid #999;
}




.timeline h3 span {
  font-size: 0.8em;
  margin: 0;
  padding: 0.2em 0;
  display: block;
}

.timeline h5 {
  background: #555;
  text-align: left;
  color: #FFF;
  margin-top: -6px;
  padding: 0 15px 5px 15px;
  transition: all 0.3s;
}


.timeline h6 {
  padding: 0.5em 15px;
  text-align: left;
  line-height: 1.4em;
  color: #FFF;
  margin-top: 0px;
  transition: all 0.3s;
}
.timeline li {
  background: #767676;
  transition: all 0.3s;
  /*min-height: 180px;*/
}

.timeline li:hover {
  background: #333;
  /*transform: scale(1.21);*/
}

.timeline li:hover h3 {
  background: #069;
}

.timeline li:hover h5 {
  background: #069;
}



/*-----------------*/


.pricing-table {
  padding-bottom: 0;
}

.pricing-table-header {
  padding: 20px;
  background-color: #069;
  text-align: left;
}


.pricing-table-offer ul {
  margin-bottom: 0;
  list-style: none;
}

.pricing-table-offer ul li {
  text-align: left;
  padding: 20px;
}



.pricing-table:hover .pricing-table-header {
  background-color: #2a2a2a;
}

.pricing-table:hover {
  background-color: #313131;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
}



.bx-wrapper .bx-controls-direction a:hover {
  border-color: #069 !important;
  background-color: #069 !important;
}





.discover-slider {
  height: auto;
  padding: 20px 40px 60px 40px;
}



.button-list {
  text-align: left;
  list-style: none;
}

.button-list li {
  display: inline-block;
  margin-right: 5px;
}

/*.button-list li a.btn {
border: 1px solid #fff;
background-color: transparent;
}

.button-list li a.btn:hover,
.button-list li a.btn.active {
border-color: #069;
background-color: #069;
}
*/






.dark-bg h1, 
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6,
.dark-bg p {
  color: #FFF !important;
}

.discover-info h3 {
  line-height: 26px;
}



.discover-info p {
  font-size:18px;
  line-height: 26px;
}



#footer {
  font-size: 0.9em;
}


#footer a {
  color: #FFF;
}


.caption.title, .caption.subtitle{
text-shadow: 0px 0px 10px #333;

}

/*---------- Edit Buttons ------------*/



.btn.logged-in {
  float: right;
  border: 1px solid #EDEDED;
  background-color: transparent;
  color: #EDEDED;
  margin: 5px;
  height: 18px;
}

.btn.logged-in.dark-bg {
  opacity: 0.1 !important;
}


.dark-bg .btn.logged-in {
  opacity: 0.1 !important;
}

.btn.logged-in.btn-small {
  float: right;
  border: 1px solid #EDEDED;
  background-color: transparent;
  color: #EDEDED;
  height: 10px;
  line-height: 10px;
  padding: 4px;
  font-size: 0.9em;
}



.editable-area:hover .btn.logged-in {
  border: 1px solid #999;
  background-color: transparent;
  opacity: 1.0 !important;
  color: #999;
}

.dark-bg .editable-area:hover .btn.logged-in {
  border: 1px solid #FFF;
  background-color: transparent;
  opacity: 1.0 !important;
  color: #FFF;
}





.btn.logged-in:hover {
  border: 1px solid #333 !important;
  background-color: #333 !important;
  opacity: 1.0 !important;
  color: #FFF !important;
}

/*

Monash Colours



Monash Blue    #006CAB    White       
Blue           #009FD8    White @18+   Adjusted
Cyan           #43C5E4    Black
Light Cyan     #9DDAE5    Black
Black          #231F20    White
Grey           #423F40    White
Medium Grey    #939598    White @18+
Light Grey     #D1D3D4    Black
Pale Grey      #EDEDED    Black
Purple         #44477A    White
Pink           #B6006A    White
Green          #96CA4F    White @18+   Adjusted
Yellow         #FDB515    Black

*/

.nick:before {
  content: ".";
  position: relative;
  width: 100%;
  margin-left: -100%;
  display: inline-block;
}

.nick:after {
  content: ".";
  position: relative;
  width: 100%;
  margin-right: -100%;
  float: right;
  display: inline-block;
}



.nick.nick-monash-blue {
  background-position: -980px -0px;
}
.nick.nick-blue {
  background-position: -980px -32px;
}
.nick.nick-cyan {
  background-position: -980px -64px;
}
.nick.nick-light-cyan {
  background-position: -980px -96px;
}
.nick.nick-black {
  background-position: -980px -128px;
}
.nick.nick-grey {
  background-position: -980px -160px;
}
.nick.nick-medium-grey {
  background-position: -980px -192px;
}
.nick.nick-light-grey {
  background-position: -980px -224px;
}
.nick.nick-pale-grey {
  background-position: -980px -256px;
}
.nick.nick-purple {
  background-position: -980px -288px;
}
.nick.nick-pink {
  background-position: -980px -320px;
}
.nick.nick-green {
  background-position: -980px -352px;
}
.nick.nick-yellow {
  background-position: -980px -384px;
}
.nick.nick-white {
  background-position: -980px -416px;
}





.nick.nick-monash-blue:before, .nick.nick-monash-blue:after {
  background-color: #006CAB;
  color: #006CAB;
}

.nick.nick-blue:before, .nick.nick-blue:after {
  background-color: #009FD8;
  color: #009FD8;
}

.nick.nick-cyan:before, .nick.nick-cyan:after {
  background-color: #43C5E4;
  color: #43C5E4;
}

.nick.nick-light-cyan:before, .nick.nick-light-cyan:after {
  background-color: #9DDAE5;
  color: #9DDAE5;
}

.nick.nick-black:before, .nick.nick-black:after {
  background-color: #231F20;
  color: #231F20;
}

.nick.nick-grey:before, .nick.nick-grey:after {
  background-color: #423F40;
  color: #423F40;
}

.nick.nick-medium-grey:before, .nick.nick-medium-grey:after {
  background-color: #939598;
  color: #939598;
}

.nick.nick-light-grey:before, .nick.nick-light-grey:after {
  background-color: #D1D3D4;
  color: #D1D3D4;
}

.nick.nick-pale-grey:before, .nick.nick-pale-grey:after {
  background-color: #EDEDED;
  color: #EDEDED;
}

.nick.nick-purple:before, .nick.nick-purple:after {
  background-color: #44477A;
  color: #44477A;
}

.nick.nick-pink:before, .nick.nick-pink:after {
  background-color: #B6006A;
  color: #B6006A;
}

.nick.nick-green:before, .nick.nick-green:after {
  background-color: #96CA4F;
  color: #96CA4F;
}

.nick.nick-yellow:before, .nick.nick-yellow:after {
  background-color: #FDB515;
  color: #FDB515;
}

.nick.nick-white:before, .nick.nick-white:after {
  background-color: #FFF;
  color: #FFF;
}

#mobile-menu-trigger {
  color: white;
}




/*-------- Media Queries ---------*/



@media (min-width: 1400px) {
  
  section.content-section {
    padding: 80px 0 125px 0;
  }
  
  #home {
    padding: 180px 0 20px 0;
  }
  
  #content {
    min-height: 500px;
  }
    
  #logo img {
    max-width: 270px;
  }
    
    
  .news-thumb.span2 {
    height: 170px
  }
    
  .bx-wrapper .bx-prev {
    left: -50px !important;
  }
  .bx-wrapper .bx-next {
    right: -50px !important;
  }
    
  .nick {
    width: 1170px;
    margin-bottom:80px;
  }

}
/* End 1400px */




@media (min-width: 1024px) and (max-width: 1399px) {
  
  section.content-section {
    padding: 80px 0 125px 0;
  }
  
  #home {
    padding: 130px 0 20px 0;
  }
  
  #content {
    min-height: 500px;
  }
    
    
  #logo img {
    max-width: 170px;
  }
    
  #logo {
    margin-top: 12px;
  }
    
  .news-thumb.span2 {
    height: 140px
  }
    
  .bx-wrapper .bx-prev {
    left: -50px !important;
  }
  .bx-wrapper .bx-next {
    right: -50px !important;
  }
    
    
  .nick {
    width: 940px;
    margin-bottom:80px;
  }

}
/* End 1024px */


@media (min-width: 980px) and (max-width: 1023px) {
  
  section.content-section {
    padding: 80px 0 125px 0;
  }
  
  #home {
    padding: 120px 0 20px 0;
  }
  
  
  #header.stuck {
    position: fixed !important;
    z-index: 1000;
    top: 0;
    width: 100% !important;
    padding: 10px 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background: #fff;
  }
  
  .stuck .sf-menu a {
    color: #4b4b4b;
  }
    
  
  #logo img {
    max-width: 170px;
  }
  
  #logo {
    margin-top: 10px;
  }
  
  .news-thumb.span2 {
    height: 105px
  }
  
  .bx-wrapper .bx-prev {
    left: -35px !important;
  }
  .bx-wrapper .bx-next {
    right: -35px !important;
  }
  
  .nick {
    width: 940px;
    margin-bottom:80px;
  }

}
/* End 980-1023 */







@media (min-width: 768px) and (max-width: 979px) {
  
  section.content-section {
    padding: 80px 0 125px 0;
  }
  
  #home {
    padding: 60px 0 20px 0;
  }
    
    
  
  #logo img {
    max-width: 300px;
  }
  
  #logo {
    margin-top: 10px;
  }
  
  .portfolio-items li {
    float: left;
    width: 25% !important;
  }
  
  .news-thumb.span2 {
    height: 105px
  }
  
  .bx-wrapper .bx-prev {
    left: -35px !important;
  }
  .bx-wrapper .bx-next {
    right: -35px !important;
  }
    
  .pricing-table-header h1 {
    font-size: 25px;
  }
  
  
  .nick {
    width: 705px;
    margin-bottom:80px;
  }

}
/* End 768-979 */






@media (max-width: 767px) {
  
  .btn.logged-in { display:none !important; }
  
  section.content-section {
    padding: 80px 0 50px 0;
  }
    
    
  #logo img {
    max-width: 250px;
  }
    
  #logo {
    margin-top: 10px;
  }
    
  .portfolio-items li {
    float: left;
    width: 25% !important;
  }
    
  .news-thumb.span2 {
    height: 350px;
    margin-bottom: 20px;
  }
    
  .bx-wrapper .bx-prev {
    left: -35px !important;
  }
  .bx-wrapper .bx-next {
    right: -35px !important;
  }
    
  .nick {
    width: 100%;
    margin-left: 30px !important;
    margin-bottom:40px;
  }
  

}
  /* End 767 */


@media (max-width: 320px) {
    
    section.content-section {
      padding: 80px 0 50px 0;
    }


    
    .btn.logged-in { display:none !important; }
    
    .headline {
      margin: 20px 0 30px 0;
    }
  
    .headline h1 {
      font-size: 35px !important;
      line-height: 35px !important;
      margin-bottom:1em;
    }
  
    .caption.title h1 {
      font-size: 60px !important;
      line-height: 62px !important;
      font-weight: 700;
      margin-bottom:0;
    }
    
    .news-thumb.span2 {
      height: 200px;
      margin-bottom: 20px;
    }
    
    .icon-box-1 > i { 
      font-size:96px !important;
    }
    
    
    #logo img {
      max-width: 200px;
    }
    
    #logo {
      margin-top: 10px;
    }
    
    .portfolio-items li {
      float: left;
      width: 25% !important;
    }
    
    .bx-wrapper .bx-prev {
      left: -35px !important;
    }
    .bx-wrapper .bx-next {
      right: -35px !important;
    }
    
    .nick {
      width: 100%;
      margin-left: 30px !important;
      margin-bottom:40px;
    }
    
    .blog-post-slider .blog-post-info {
      display:none;
    }
    
    
    
	  .blog-post-slider .bx-wrapper,
    .horizontal-slider .bx-wrapper,
    .timeline .bx-wrapper {
      max-width:100% !important;
		  height: 100% !important;
		  overflow: visible !important;
	  }
    
    
	  .blog-post-slider .bx-viewport,
    .horizontal-slider .bx-viewport,
    .timeline .bx-viewport {
      width:100%;
		  height: 100% !important;
		  overflow: visible !important;
	  }
    
	  .blog-post-slider .slides,
    .horizontal-slider .slides,
    .timeline .slides {
      width:100% !important;
		  height: 100% !important;

	  }
    
	  
	  .blog-post-slider .slides li,
    .horizontal-slider .slides li,
    .timeline .slides li {
		  display:block;
      width:100% !important;
      margin:0 0 15px 0 !important
		  
	  }
    
    .horizontal-slider .slides li {
      min-height:30px;
      
    }
	  
	  .blog-post-slider .bx-clone,
    .horizontal-slider .bx-clone,
    .timeline .bx-clone {
		  display:none !important;
	  }
    
	  /*.blog-post-slider .bx-controls,
    .horizontal-slider .bx-controls,
    .timeline .bx-controls {
	    display:none;
	  }
          */
    .horizontal-slider .bx-controls,
    .timeline .bx-controls {
	    display:none;
	  }
}
    /* End 320 */
@media (max-width: 400px) {
    .timeline .bx-clone {
        display:none !important;
    }
}
/*end 400*/
.left {
float: left;
}

.right {
float: right;
}

#content section#home {
background-size: cover;
}

 /* Social Media Footer */

body .connect {
    background-color: hsl(0, 0%, 11%);
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.connect .links {
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 40%;
}
.connect .links li {
    float: left;
    height: 50px;
    width: 49.5%;
}
.connect .links li a {
    background: hsl(196, 100%, 35%) url("/__data/assets/image/0003/13809/arrowarea.png?v=0.1.1") no-repeat scroll 88% center;
    color: hsl(0, 0%, 100%);
    float: left;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 6%;
    width: 100%;
}
.no-boxsizing .connect .links li a {
    width: 88%;
}
.connect .links li.last a {
    background-color: hsl(196, 100%, 22%);
}
.connect .social {
    float: right;
    height: 50px;
    width: auto;
}
.connect .social p {
    color: hsl(0, 0%, 100%);
    float: right;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 0;
}
.connect .social ul {
    float: right;
    height: 26px;
    margin: 12px 0;
    width: auto;
}
.connect .social ul li {
    float: left;
    height: 26px;
    margin: 0 0 0 10px;
    width: 26px;
    list-style-type: none;
}
.connect .social ul li a {
    background: hsla(0, 0%, 0%, 0) url("/__data/assets/image/0018/13734/socialspritedesktop.png?v=0.1.1") no-repeat scroll 0 0;
    float: left;
    height: 26px;
    margin: 0;
    width: 26px;
}
.connect .social ul li a:focus {
    outline-color: hsl(211, 51%, 40%);
}
.connect .social ul li.facebook a {
    background-position: 0 0;
}
.connect .social ul li.twitter a {
    background-position: -26px 0;
}
.connect .social ul li.googleplus a {
    background-position: -52px 0;
}
.connect .social ul li.flickr a {
    background-position: -78px 0;
}
.connect .social ul li.youtube a {
    background-position: -104px 0;
}
.connect .social ul li.linkedin a {
    background-position: -130px 0;
}
.connect .social ul li.weibo a {
    background-position: -156px 0;
}
.connect .social ul li a span {
    display: none;
}
.connect .wrapper {
    display: block;
}
.connect .social ul li, .connect .social ul li a {
    height: 30px;
    width: 30px;
}
.connect .social ul li a {
    background: hsla(0, 0%, 0%, 0) url("/__data/assets/image/0004/41908/monash-social.png?v=0.1.1") no-repeat scroll 0 0;
}
.connect .social ul li.linkedin a {
    background-position: 0 0;
}
.connect .social ul li.weibo a {
    background-position: -30px 0;
}
.connect .social ul li.googleplus a {
    background-position: -60px 0;
}
.connect .social ul li.tumblr a {
    background-position: -90px 0;
}
.connect .social ul li.twitter a {
    background-position: -120px 0;
}
.connect .social ul li.instagram a {
    background-position: -150px 0;
}
.connect .social ul li.facebook a {
    background-position: -180px 0;
}
.connect .social ul li.youtube a {
    background-position: -210px 0;
}
@media only screen and (max-width: 960px) {
.connect .wrapper {
    padding-right: 2%;
}
}


.connect .wrapper {
    display: block;
}
.connect .wrapper {
    margin: 0 auto;
    max-width: 978px;
} 

.hidden {
display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.accordion-toggle {
    color: rgb(0, 102, 153);
    cursor: pointer;
    font-weight: bold;
}
.accordion-content {display: none;}
.accordion-content.default {display: block;}


.simple-ajax-popup:hover {
    text-decoration: none;
}

.btn.outline-btn.active {
    background-color: #007eb6;
    color: white;
}

#footer a {
    text-decoration: underline;
}

.phone-text a{color:#fff; text-decoration:none;}

#spt-4-marketo-or-salesforce-form #header {
    display: none;
}

/* Marketo Salesforce Form CSS */

.social-feed{
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
}



.social-feed .feed-title:before,
.google .feed-title:before,
.instagram .feed-title:before{
  
    content: "";
    height: 32px;
    width: 32px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
}

.facebook .feed-title:before{
    left: 5px;
    background: url(./?a=367268) no-repeat;
    top: 7px;
    margin-top: 6px;
}

.twitter .feed-title:before{
    background: url(./?a=367269) no-repeat;
    margin-top: 6px;
}

.google .feed-title:before{
    background: url(./?a=367271) no-repeat;
    margin-top: 6px;
}

.instagram .feed-title:before{
    background: url(./?a=367270) no-repeat;
    margin-top: 6px;
}

.social-feed .feed-title h2{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.social-feed .feed-title a{
    text-decoration: none;
    color:#fff;
}



.twitter .feed-title{
    background:#4099FF;
}

.google .feed-title{
    background: #dd4b39;   
}

.instagram .feed-title{
    background: #007bb6;
}

#facebook-feed, #twitter-feed, #instagram-feed, #google-feed {
    width:100%;
}

#facebook-feed .facebook-item,
#twitter-feed .twitter-item,
#instagram-feed .instagram-item,
#google-feed .google-item{
    display:inline-block;
    width:30.333%;
    height:100%;
    padding:10px;
    padding-bottom:25px;
    vertical-align: top;
    position: relative;
    clear: both;
    line-height: 1.3;

}

#facebook-feed .facebook-item span{
    display:inline-block;
    width:100%;
    padding:5px;
}

#twitter-feed .twitter-item .item-profile{
    width:15%;
}

#twitter-feed .twitter-item .item-tweet{
    width:80%;
    float: right;
}

.social-feed .feed-title{
    background: #3b5998;
    padding: 10px 10px 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: block;
    position: relative;
}


#facebook-feed .facebook-item .item-date,
#twitter-feed .twitter-item .item-date,
#instagram-feed .instagram-item .item-date,
#google-feed .google-item .item-date{
    position: absolute;
    bottom:0;
    right: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

#facebook-feed .facebook-item .item-date .item-link,
#twitter-feed .twitter-item .item-date .item-link,
#instagram-feed .instagram-item .item-date .item-link,
#google-feed .google-item .item-date .item-link{
    float:left;
    padding-left:15px;
}

#facebook-feed .item-img,
#twitter-feed .iitem-img,
#instagram-feed .item-img,
#google-feed .item-img{
    float: left;
    width:30%;
    margin-right:5px;
    padding-top:5px;
}


@media all and (min-width: 440px) { 

  .social-feed .feed-title{
    width: auto;

   }
#slideshow .slides > li {
    width: auto !important;
}
}

@media all and (max-width: 699px) {
    #facebook-feed .facebook-item,
    #twitter-feed .twitter-item,
    #instagram-feed .instagram-item,
    #google-feed .google-item{

        width:100%;
    }
}