/**
 * Name: elements.css
 * Version: 1.0.0
 *	
 *	-
 *
 *	T.O.C
 *	
 *	#Accordions
 *  #Alerts
 *  #Back to top
 *	#Buttons
 *	#Callout Boxes
 *	#Custom Lists
 *	#Dividers
 *	#Google Maps
 *  #Headlines
 *	#Icon Boxes
 *	#Milestones
 *	#Our Process
 *  #Page Loader
 *	#Parallax
 *	#Pie charts
 *	#Pricing Tables
 *	#ProgressBars
 *	#SocialMedia
 *	#Styled Tables
 *	#Tabs
 *	#Testimonials
 *  #WordPress Widgets
 *  #WordPress Comments
 *  #WordPress Comment Form
 */

/* ==========================================================================
   #Accordions
   ========================================================================== */

	/* Accordeon & Toggles */
	
	.accordion,
	.toggle { margin-bottom: 30px; }

	.accordion-item,
	.toggle-item { margin-bottom: 10px; }

	.accordion-item-toggle,
	.toggle-item-toggle {
		position: relative;
		display: block;
		padding: 15px 20px;
		border-radius: 4px;
		background-color: #bebebe;
		color: #fff;
	}
	
	.accordion-item-toggle:after,
	.toggle-item-toggle:after {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 18px;
		content: "+";
	}
	
	.accordion-item-toggle.active:after,
	.toggle-item-toggle.active:after { content: "-"; }
	
	.accordion-item-toggle:hover,
	.accordion-item-toggle.active,
	.toggle-item-toggle:hover,
	.toggle-item-toggle.active {
		background-color: #069;
		text-decoration: none; 
	}
	
	.accordion-item-content,
	.toggle-item-content { 
		padding: 15px 20px; 
		display: none; 
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.accordion-item-content:after,
	.toggle-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	@media (max-width: 767px) {	
	  
	}

/* ==========================================================================
   #Alerts
   ========================================================================== */

	.alert {
		padding: 13px 15px;
		border: 1px solid #d1d1d1;
		border-radius: 3px;
		-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		margin-bottom: 30px;
		background-color: #f8f8f8;
		font-size: 13px;
	}
	
	.alert i {
		position: relative;
		top: 1px;
		margin-right: 7px;
		font-size: 16px;
	}
	
	.alert.info {
		border: 1px solid #86cde3;
		background-color: #cce9f2;
		color: #3194b1;
	}
	
	.alert.success {
		border: 1px solid #b3cda1;
		background-color: #d8f1c6;
		color: #749958;
	}
	
	.alert.error {
		border: 1px solid #e1a1a1;
		background-color: #f9d9d9;
		color: #b55454;
	}
	
	.alert.warning {
		border: 1px solid #d1c9ae;
		background-color: #fbf4dd;
		color: #978c68;
	} 

/* ==========================================================================
   #Back to top
   ========================================================================== */

	#back-to-top {
		position: fixed;
		z-index: 100;
		right: -40px;
		bottom: 20px;
		width: 40px;
		height: 40px;
		border-radius: 3px;
		background-color: #747474;
		color: #fafafa;
		font-size: 30px;			
		text-align: center;
		opacity: 0.5;
		cursor: pointer;
		text-decoration: none;
		-webkit-transition: all 0.4s ease 0s;
			 -o-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top i {
		font-size: 28px;
		line-height: 40px;
		font-weight: normal;
		vertical-align: top;
		-webkit-transition: all 0.4s ease 0s;
			 -o-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top img {
            width: 50%;
	}
	
	#back-to-top:hover { background-color: rgba(0, 0, 0, 0.7); }
	
	#back-to-top:hover i { color: #fff; }
	
	#back-to-top.visible { right: 40px; }
	
	#back-to-top.gone { right: -40px; }

/* ==========================================================================
   #Buttons
   ========================================================================== */

	.btn { 
		display: inline-block; 
		padding: 6px 12px;
		border-radius: 3px;
		margin: 0 5px 20px 0;
		background-color: #bebebe;
		color: #fff;
		line-height: 18px; 
		text-decoration: none !important;
		cursor: pointer;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s; 	
	}
	
	a.btn { color: #fff; }
	
	.btn.alt { background-color: #069; }
	
	.btn:focus { outline: none; }
	
	.btn-large {
		padding: 12px 30px;
		font-size: 16px;
	}
	
	.btn i,
	.btn-large i { 
		float: left; 
		margin: 2px 8px 0 -4px;
		font-size: 14px; 
		line-height: 14px; 
	}
	
	.btn:hover { background: #069; }
	.btn.alt:hover { background-color: #bebebe; }

	/* Buton Colors */
	
	.btn-white {
		border: 1px solid #dddddd;
		background-color: #f7f7f7;
		color: #444;
	}
	
	a.btn-white { color: #444; }
	.btn-white:hover { background: #fbfbfb; }
	
	.btn-black {
		border: 1px solid #464646;
		background-color: #464646;
		color: #fff;
	}
	
	a.btn-black { color: #fff; }
	.btn-black:hover { background: #535353; }
	
	.btn-blue {
		border: 1px solid #1f70ad;
		background-color: #2778c8;
		color: #fff;
	}
	
	a.btn-blue { color: #fff; }
	.btn-blue:hover { background: #287fc8; }

	.btn-red {
		border: 1px solid #b23730;
		background-color: #c74039;
		color: #fff;
	}
	
	a.btn-red { color: #fff; }
	.btn-red:hover { background: #ce4640; }

	.btn-green {
		border: 1px solid #819633;
		background-color: #8da046;
		color: #fff;
	}
	
	a.btn-green{ color: #fff; }
	.btn-green:hover { background: #93a749; }
	
/* ==========================================================================
   #Callout Boxes
   ========================================================================== */

	.callout-box {
		padding: 30px 20px;
		margin-bottom: 30px;
		background-color: #333;
		color: #fff;
	}
	
	/**
 	 * Callout box with one background image
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .callout-box
	 *
	 */
	 
	.callout-box.bg-img {
		background-repeat: no-repeat; /* 1 */ 
		background-position: center center;
		-webkit-background-size: cover;
				background-size: cover;
		color: #fff;
	}
	
	/**
 	 * Callout box with repeating background image
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .callout-box
	 *
	 */
	 
	.callout-box.bg-pattern {
		background: repeat top left; /* 1 */	
		color: #fff;
	}
	
	.callout-box.bordered {
		border: 1px solid #efefef;
		background-color: #f5f5f5;
	}
	
	/**
 	 * Callout box grid system
 	 *
	 * 1. overwriting inherited .row width to 100% in order to make it fluid
	 *
	 */
	
	.callout-box .row { 
		width: 100%; /* 1 */ 
	}
	
	.callout-box .span1,
	.callout-box .span2,
	.callout-box .span3,
	.callout-box .span4,
	.callout-box .span5,
	.callout-box .span6,
	.callout-box .span7,
	.callout-box .span8,
	.callout-box .span9,
	.callout-box .span10,
	.callout-box .span11,
	.callout-box .span12 {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 10px;
		margin: 0;	
	}
	
	.callout-box .span12 { width: 100%; }
	.callout-box .span11 { width: 91.6666666667%; }
	.callout-box .span10 { width: 83.3333333333%; }
	.callout-box  .span9 { width: 75%; }
	.callout-box  .span8 { width: 66.6666666667%; }
	.callout-box  .span7 { width: 58.3333333333%; }
	.callout-box  .span6 { width: 50%; }
	.callout-box  .span5 { width: 41.6666666667%; }
	.callout-box  .span4 { width: 33.3333333333%; }
	.callout-box  .span3 { width: 25%; }
	.callout-box  .span2 { width: 16.66666666666667%; }
	.callout-box  .span1 { width: 8.333333333333333%; }
  
	@media (max-width: 767px) {
	
		.callout-box .span1,
		.callout-box .span2,
		.callout-box .span3,
		.callout-box .span4,
		.callout-box .span5,
		.callout-box .span6,
		.callout-box .span7,
		.callout-box .span8,
		.callout-box .span9,
		.callout-box .span10,
		.callout-box .span11,
		.callout-box .span12 { width: 100%; }
	  
	}

/* ==========================================================================
   #Custom Lists
   ========================================================================== */

	/**
 	 * Custom lists
 	 *
	 * 1. unstyled list
	 * 2. list with squares for bullets
	 * 3. list with discs for bullets
	 *
	 */
	 
	ul.unstyled { list-style-type: none; } /* 1 */
	ul.square { list-style-type: square; } /* 2 */
	ul.circle { list-style-type: circle; } /* 3 */
	
	/**
 	 * FontAwesome lists
 	 *
	 * 1. Check list
	 * 2. Plus list
	 * 3. Pin list
	 *
	 */
	 
	ul.check,								/* 1 */
	ul.plus,								/* 2 */
	ul.pin { list-style: none; }			/* 3 */
	
	ul.check li:before,
	ul.plus li:before,
	ul.pin li:before { 
		position: relative;
		top: -1px;
		display: inline-block;
		width: 18px;
		height: 18px;
		border-radius: 3px;
		margin-right: 15px;
		background-color: #069;
		color: #fff;
		font-family: 'FontAwesome';
		font-size: 12px;
		line-height: 18px;
		font-style: normal;
		text-align: center;
	}
	
	ul.check li,
	ul.plus li,
	ul.pin li { margin-bottom: 10px; }
	
	ul.check li:last-child,
	ul.plus li:last-child,
	ul.pin li:last-child { margin-bottom: 0; }
	
	ul.check li:before { content: ""; }
	ul.plus li:before { content: ""; }
	ul.pin li:before { content: ""; }	
	
	/**
 	 * Custom Icon Font lists
 	 *
	 * 1. Disc list
	 *
	 */
	
	ul.arrow { list-style: none; }			/* 1 */
	
	ul.arrow li:before { 
		position: relative;
		top: 0;
		display: inline-block;
		width: 18px;
		height: 18px;
		border-radius: 3px;
		margin-right: 15px;
		background-color: #069;
		color: #fff;
		font-family: 'iconfontcustom';
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		text-align: center;
	}
	
	ul.arrow li { margin-bottom: 10px; }
	ul.arrow li:last-child { margin-bottom: 0; }
	
	ul.arrow li:before { content: ""; }	

/* ==========================================================================
   #Dividers
   ========================================================================== */

	.divider { margin: 30px 0; }
	
	.divider.single-line { border-top: 1px solid #e2e2e2; }
	
	.divider.double-line { border-top: 4px double #e2e2e2; }
	
	.divider.single-dotted {
		 height: 1px;
		 background: url(../images/bg-single-dotted.gif) repeat-x top left ;  
	}
	
	.divider.double-dotted { 
		height: 4px;
		background: url(../images/bg-double-dotted.gif) repeat-x top left; 
	}	

/* ==========================================================================
   #Google Maps
   ========================================================================== */

	.google-map { min-height: 200px; }
	
	.map { 
		width: 100%; 
		min-height: 400px; 
		margin-bottom: 120px; 
	}	

/* ==========================================================================
   #Headlines
   ========================================================================== */

	.headline { 
		margin: 20px 0 120px 0; 
		text-align: center;
	}
	
	.headline h1 { 
		position: relative;
		margin-bottom: 50px;
		color: #201914;
		line-height: 72px;
		font-weight: 700;
		/*text-transform: uppercase;*/
	}
	
	.headline h1:before {
		position: absolute;
		right: 0;
		bottom: -17px;
		left: 0;
		width: 50px;
		border-bottom: 1px solid #201914;
		margin: 0 auto;
		content: "";
	}
	
	.headline h5 {
		margin-bottom: 0;
		/*text-transform: uppercase;*/ 
	}

/* ==========================================================================
   #Icon Boxes
   ========================================================================== */

/* Icon Box 1
   ========================================================================== */
   
	.icon-box-1 { 
		position: relative; 
		margin-bottom: 100px; 
	}
		
	.icon-box-1 > i { 
                
		float: left;
		display: block;  
		width: 134px;
		height: 134px;
		border: 1px solid #919191;
		border-radius: 50%;
		color: #919191;
		font-size: 64px; 
		line-height: 134px;
		text-align: center;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	} 
	
	.icon-box-icon {
		float: left;
		width: 134px;
		padding: 35px 0;
		border-radius: 50%;
		background-color: #f6f6f6;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.icon-box-icon > img {
		display: block;
		margin: 0 auto;
	} 
	
	.icon-box-1 .icon-box-content { margin-left: 170px; }
	
	.icon-box-content h3 { margin-bottom: 15px; }
	.icon-box-content h3 a { color: #201914; }
	
	/*.icon-box-1:hover > i {
		border-color: #069;
		color: #069; 
	}*/
	
	.icon-box-1:hover .icon-box-icon { background-color: #ff6d2c; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.icon-box-1 > i { 
			width: 90px;
			height: 90px;
			font-size: 48px;
			line-height: 90px;
		}
		
		.icon-box-icon { 
			width: 90px;
			padding: 23px 0;
		}
		
		.icon-box-icon img { width: 50%; }
		
		.icon-box-1 .icon-box-content { margin-left: 120px; }
	}
	
	@media (max-width: 767px) {
		
		.icon-box-1 > i,
		.icon-box-icon { 
			float: none;
			margin: 0 auto 30px;
		}
		
		.icon-box-1 .icon-box-content { margin-left: 0; }
		
	}

/* Icon Box 2
   ========================================================================== */
   
	.icon-box-2 { 
		position: relative; 
		margin-bottom: 30px; 
	}
		
	.icon-box-2 > i { 
		display: block;
		margin-bottom: 10px; 
		color: #666e74; 
		font-size: 48px;
	}
	
	.icon-box-2 > img { margin-bottom:10px; }
	
	.icon-box-2 .icon-box-content { }	

/* Icon Box 3
   ========================================================================== */
   
	.icon-box-3 { 
		position: relative; 
		margin-bottom: 30px; 
	}	
	
	.icon-box-3 > i { 
		float: left;
		margin-right: 10px;		 
		font-size: 32px; 
	} 
	
	.icon-box-3 > img { 
		float: left; 
		margin-right: 10px; 
	} 
	
	.icon-box-3 .icon-box-content { }

/* Icon Box 4
   ========================================================================== */
   
	.icon-box-4 { 
		position: relative; 
		margin: 30px 0; 
	}	
	
	/**
	 * 1. Android Browser 2.3 does not support % value for border-radius
	 * 2. Stop bg color from leaking outside the border	
	 */
	
	.icon-box-4 > i {
		position: absolute;	 
		z-index: 20; 
		left: 50%; 
		width: 60px; 
		height: 60px;
		border: 1px solid #969696;
		border-radius: 30px; /* 1 */
		-webkit-border-radius: 50%;
				border-radius: 50%;
		margin-top: -30px; 
		margin-left: -30px; 			
		background-color: #e1e1e1;
		background-clip: padding-box; /* 2 */		
		color: #444444;
		font-size: 32px;
		line-height: 60px;
		text-align: center; 
	}
	 
	.icon-box-4 .icon-box-content { 
		position: relative;
		z-index: 10;
		padding: 55px 40px 40px;
		border: 1px solid #e0e0e0; 
		-webkit-border-radius: 50%;
				border-radius: 3px; 
		margin-top: 16px;
		background-color: #f4f4f4;
		text-align: center; 
	}

/* Icon Box 5
   ========================================================================== */
   
	.icon-box-5 { 
		position: relative; 
		margin-bottom: 30px; 
	}	
		
	.icon-box-5 > i { 
		position: absolute;
		z-index: 20; 
		top: 50%;
		left: 0; 
		width: 60px; 
		height: 60px;
		border: 1px solid #969696;
		border-radius: 30px;
		-webkit-border-radius: 50%;
				border-radius: 50%;
		margin-top: -30px; 
		background-color: #e1e1e1;
		background-clip: padding-box; 
		color: #444444;
		font-size: 32px;
		line-height: 60px;
		text-align: center;  
	} 
	
	.icon-box-5 .icon-box-content { 
		position: relative;
		z-index: 10;
		padding: 40px 40px 40px 55px;
		border: 1px solid #e0e0e0; 
		-webkit-border-radius: 3px;
				border-radius: 3px;
		margin-left: 30px;	
		background-color: #f4f4f4;
		text-align: center; 
	}
	
/* ==========================================================================
   #Milestones
   ========================================================================== */

	.milestone {
		position: relative;
		padding: 70px 0;
		text-align: center;
	}

       .milestone {
		text-decoration: none
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.milestone:after { /* 1 */
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	.milestone i {
		z-index: 20;
		display: block;
		margin-bottom: 55px;
		color: #919191;
		font-size: 64px;
		-webkit-transition: color 0.3s;
			 -o-transition: color 0.3s;
				transition: color 0.3s;
	}

        .milestone i { 
        text-decoration: none;
        }
	
	.milestone img {
		display: block;
		margin: 0 auto 55px;
	}
	
	.milestone .milestone-content {
		z-index: 10;
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		line-height: 24px;
		-webkit-transition: color 0.3s;
			 -o-transition: color 0.3s;
				transition: color 0.3s;
	}
	
	.milestone .milestone-description {
		color: #4b4b4b;
		font-size: 16px;
		/*text-transform: uppercase;*/ 
	}
	
	/*.milestone:hover i { color: #201914; }*/
	.milestone:hover .milestone-content { color: #069; }

/* ==========================================================================
   #Our Process
   ========================================================================== */

	.process-builder { margin-bottom: 30px; }
		
	.process-builder ul:before {
		position: absolute;
		top: 90px;
		left: 85px;
		display: block;
		width: 75%;
		height: 0;
		border-top: 1px dashed #bebebe;
		content: "";
	}
	.process-builder ul { list-style: none; }
	
	.process-builder ul li { 
		float: left;
		width: 25%; 
		text-align: center;  
	}
	
	.process-builder ul li i {
		color: #bebebe; 
		font-size: 70px; 
		line-height: 140px; 
		-webkit-transition: color 0.5s; 
			 -o-transition: color 0.5s; 
				transition: color 0.5s; 
	}
	
	.process-builder ul li span { 
		position: relative; 
		overflow: hidden;  
		display: inline-block;
		width: 140px; 
		height: 140px;
		border: 1px solid #bebebe;
		border-radius: 70px; 
		-webkit-border-radius: 50%;
				border-radius: 50%; 
		margin-bottom: 20px; 
		background-color: #fff;
		background-clip: padding-box;
		-webkit-transition: background-color 0.5s;
		     -o-transition: background-color 0.5s; 
				transition: background-color 0.5s; 
	}
	
	.process-builder ul li:hover span { background-color: #069; }
	
	.process-builder ul li:hover i { color: #fff; }
		
	.process-builder.three-items ul li { width: 33.3333333333%; }
	.process-builder.four-items ul li { width: 25%; }
	.process-builder.five-items ul li { width: 20%; }

	@media (min-width: 768px) and (max-width: 979px) {
	
		.process-builder ul:before { left: 70px; }
		
		.process-builder ul li i { 
			font-size: 60px; 
			line-height: 100px; 
		}
		
		.process-builder ul li span { 
			width: 100px; 
			height: 100px; 
		}
	
	}
	
	@media (max-width: 767px) {
	
		.process-builder ul li { 
			float: none; 
			width: auto; 
		}
		
		.process-builder ul:before { border-top: none; }
		
		.process-builder.three-items ul li,
		.process-builder.four-items ul li,
		.process-builder.five-items ul li { width: auto; }
	  
	}

/* ==========================================================================
   #Page Loader
   ========================================================================== */

	#pageloader {
		position: fixed;
		z-index: 999999;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
	
	.loader-img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
		text-align: center;
	}
	
/* ==========================================================================
   #Parallax
   ========================================================================== */

	.parallax {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: 50% 0;
		-webkit-background-size: cover;
				background-size: cover;		
	}
	
	.parallax.parallax-enabled { background-attachment: fixed !important; }
	
	/*
	 * 1. Overwite element color when in parallax
	 */
	
	.parallax { color :#fff; } /* 1 */
	
	.parallax h1, 
	.parallax h2, 
	.parallax h3, 
	.parallax h4, 
	.parallax h5, 
	.parallax h6,
	.parallax .icon-box-content h3 a,
	.parallax .milestone .milestone-description,
	.parallax .milestone:hover i,
	.parallax .pie-chart-description,
	.parallax .pie-chart i, 
	.parallax .pie-chart .pie-chart-custom-text, 
	.parallax .pie-chart .pie-chart-percent,
	.parallax a.social-icon { color: #fff; }
	
	.parallax abbr[title] { border-bottom: 1px dotted #fff; }
	
	.parallax .vertical-tabs-container .tabs,
	.parallax .vertical-tabs-container { background-color: transparent; }
	
	.parallax .bx-wrapper .bx-prev { background: url(../images/arrow-left.png) no-repeat center center; }
	.parallax .bx-wrapper .bx-next { background: url(../images/arrow-right.png) no-repeat center center; }
	
	.parallax .bx-wrapper .bx-controls-direction a {
		border-color: #fff;
		background-color: transparent;
	}
	
	/*
	 * 1. added this because adding position: relative; to .parallax breaks parallax backgrounds in chrome
	 * 2. Parallax texture overlay
	 * 3. should be used to wrap parallax content if you are using a Parallax texture overlay
	 *
	 */
	
	.parallax-content { 	/* 1 */
		position: relative;
		z-index: 3;	
	}
	
	.parallax-overlay { /* 2 */
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-attachment: scroll;
		background-repeat: repeat;
		background-position: 0 0;
	}
	
	.parallax-content-inner { /* 3 */
		position: relative;
		z-index: 3;
	}
	
	.parallax .headline h1:before { border-bottom-color: #fff; }
	
	.parallax.full-screen { margin-bottom: 0; }
	
	.parallax.full-screen .parallax-content { 
		position: absolute; 
		right: 0;
		top: 50%;
		left: 0;
		margin-top: -100px;
	}
	
	.parallax.full-screen h1 {
		margin-bottom: 20px;
		font-size: 72px;
		line-height: 72px;
		font-weight: 700;
		text-transform: uppercase
	}
	
	.parallax.full-screen h1 span { color: #069; }
	
	.parallax.full-screen h2 {
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 56px;
		text-transform: uppercase
	}
	
	.parallax.full-screen h3 { margin-bottom: 25px; }
	
	.parallax.full-screen h3 em { font-family: 'Volkhov', serif; }
	
	.parallax.full-screen h3.bordered {
		display: inline-block;
		padding: 25px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	
	.parallax.full-screen h3.bordered a { color: #fff; }
	
	.parallax.full-screen .btn {
		border: 1px solid #fff;
		background-color: transparent;
	}
	
	.parallax.full-screen .btn.alt {
		border-color: transparent;
		background-color: #069; 
	}
	
	.parallax.full-screen .btn:hover { background-color: rgba(0, 0, 0, 0.5); }
	
	.parallax.full-screen .arrow {
		position: absolute;
		z-index: 3;
		right: 0;
		bottom: 10%;
		left: 0;
		display: block;
		width: 48px;
		padding: 12px 0;
		border-radius: 50%;
		margin: 0 auto;
		background-color: #069;
		text-align: center;
	} 
	
	.full-screen-overlay {
		z-index: 22;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../../_content/backgrounds/pattern.png) repeat top left;
	} 
	
	
	
	@media (min-width: 1400px) {
		
		.parallax.full-screen .parallax-content { margin-top: -170px; }
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		
		
	}
	
	@media (max-width: 767px) {
		
		.parallax.full-screen h1 { 
			font-size: 28px !important;
			line-height: 42px;
		}
		
	}

/* ==========================================================================
   #Pie charts
   ========================================================================== */

	.pie-chart {
		position: relative;	
		margin: 0 auto;
		padding: 30px 0;
		text-align: center;
	}
	
	.pie-chart canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	
	.pie-chart i, 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		position: absolute;
		z-index: 10;
		top: 20px;
		left: 0;
		display: block;
		width: 100%;
		color: #444444;
		text-align: center;
	}
	
	.pie-chart img {
		max-width: 100%;
		vertical-align: middle;
	}
	
	.pie-chart .pie-chart-custom-text { font-size: 18px; }
	
	.pie-chart .pie-chart-percent {
		font-size: 30px;
		font-weight: 700;
	}
	
	.pie-chart-description {
		position: absolute;
		top: -20px;
		left: 0;
		display: block;
		width: 100%;
		font-size: 30px;
		color: #a5a5a5;
		font-weight: 700;
	}

/* ==========================================================================
   #Pricing Tables
   ========================================================================== */
	
	.pricing-table {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding-bottom: 20px;
		margin-bottom: 40px;
		background-color: #4b4b4b;
		color: #fff;
		text-align: center;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}

	.pricing-table-header { 
		padding: 40px 0;
		background-color: #2a2a2a;
		color: #fff;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}

	.pricing-table-header h1 {
		margin-bottom: 0;
		color: #fff;
		font-weight: 700;
		/*text-transform: uppercase;*/
	}
	
	.pricing-table-header h2 {
		margin-bottom: 0;
		color: #fff;
	}
	
	.pricing-table-header h2 sup { font-size: 25px; }

	.pricing-table-header h4 {}
		
	.pricing-table-offer {}
	
	.pricing-table-offer ul { list-style: none; }
	
	.pricing-table-offer ul li { 
		padding: 20px 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		/*text-transform: uppercase;*/  
	}
	
	.pricing-table-offer ul li:first-child { border-top: none; }
	
	.pricing-table .btn {
		font-family: 'Montserrat', sans-serif;
		background-color: #2a2a2a; 
	}	
	
	.pricing-table .btn:hover { background-color: #069; }
	
	.pricing-table:hover .pricing-table-header { background-color: #069; }
	
	.pricing-table:hover {
		background-color: #313131;
		-webkit-transform: scale(1.21); 
		    -ms-transform: scale(1.21);
			 -o-transform: scale(1.21);
				transform: scale(1.21); 
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.pricing-table-header h1 { font-size: 30px; }
		
	}
	
	@media (max-width: 767px) {
		
		.pricing-table:hover { 
			-webkit-transform: none; 
				-ms-transform: none;
				 -o-transform: none;
					transform: none; 
		}
		
	}
	

/* ==========================================================================
   #ProgressBars
   ========================================================================== */

	.progress-bar-description {
		display: block;
		margin-bottom: 15px;
		font-family: 'Montserrat', sans-serif;
		line-height: 30px;
	}
	
	.progress-bar-description span {
		margin: 0 10px 0 20px;
		font-size: 24px;
		vertical-align: bottom;
	}
	
	.progress-bar {
		position: relative;
		display: block;
		height: 10px;
		margin-bottom: 15px;
		background-color: #e6e6e6;
	}
	
	.progress-bar .progress-bar-outer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #2a2a2a;
	}
	
	.progress-bar .progress-bar-outer .progress-bar-inner {
		position: absolute;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
	}

/* ==========================================================================
   #SocialMedia
   ========================================================================== */

	a.social-icon {
		float: left;
		display: block;
		margin-right: 15px;
		color: #4b4b4b;
		text-align: center;
	}

	a.social-icon:last-child { margin-right: 0; }

	a.social-icon i {
		font-size: 18px;
		line-height: 18px;
	}
	
	a.social-icon:hover { text-decoration: none; }
	
	a.facebook-icon:hover { color: #0e59a0 !important; }
	a.twitter-icon:hover { color: #0ea4ff !important; }
	a.dribble-icon:hover { color: #ea73a0 !important; }
	a.pinterest-icon:hover { color: #d73532 !important; }
	a.googleplus-icon:hover { color: #282927 !important; }
	a.tumblr-icon:hover { color: #586980 !important; }
	a.instagram-icon:hover { color: #82685a !important; }
	a.rss-icon:hover { color: #f79638 !important; }
	a.linkedin-icon:hover { color: #018faf !important; }
	a.skype-icon:hover { color: #00b0f6 !important; }
	a.flickr-icon:hover { color: #0061db !important; }
	a.vimeo-icon:hover { color: #63879c !important; }
	a.github-icon:hover { color: #3b3b3b !important; }
	a.youtube-icon:hover { color: #cc181e !important; }
	a.windows-icon:hover { color: #6dc2e9 !important; }
	a.dropbox-icon:hover { color: #007ee5 !important; }
	a.xing-icon:hover { color: #026566 !important; }

/* ==========================================================================
   #Styled Tables
   ========================================================================== */

	.table-bordered { 
		border: 1px solid #b0b0b0;
		border-left: none; 
		border-collapse: separate; 
	}
	
	.table-bordered th {
		border-left: 1px solid #fff; 
		background-color: #2a2a2a;
		color: #fff;
	}
	
	.table-bordered th:first-child { border-left-color: #4c575d; }
	
	.table-bordered td { border-left: 1px solid #b0b0b0; }
	
	.table-bordered caption + thead tr:first-child th,
	.table-bordered caption + tbody tr:first-child th,
	.table-bordered caption + tbody tr:first-child td,
	.table-bordered colgroup + thead tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child td,
	.table-bordered thead:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child td { border-top: none; }

	.table-condensed th,
	.table-condensed td { padding: 4px 8px; }	

	@media (max-width: 480px) {
	
		/**
		 * Force table to not be like tables anymore
		 */
		 
		table, 
		thead, 
		tbody, 
		th, 
		td, 
		tr { display: block; }
		
		/**
		 * Hide table headers
		 */
	
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border-top: 1px solid #555; }
		
		td:first-child { border-top: none !important; }
		
		.table-bordered { border-top: none; }
	  
	}

/* ==========================================================================
   #Tabs
   ========================================================================== */

	/* Horizontal tabs */
		
   /*
    *  1. Wraps around a horizontal tab group
	*/
   
	.tabs-container {} /* 1 */

	.tabs-container .tabs-menu { 
		border-bottom: 1px solid #e9e9e9;
		margin-top: 10px; 
		margin-bottom: 0;
		list-style: none; 
	}
	
	.tabs-container .tabs-menu li { display: inline; }
	
	.tabs-container .tabs-menu li a { 
		float: left; 
		display: block;
		padding: 10px 25px; 
		border: 1px solid #e7e7e7;
		border-left: none;		
		margin-bottom: -1px; 
		background-color: #bebebe;
		color: #fff;
		text-decoration: none;
	}
	
	.tabs-container .tabs-menu li:first-child a { border-left: 1px solid #e7e7e7; }
	
	.tabs-container .tabs-menu li a:hover { text-decoration: none; }
	
	.tabs-container .tabs-menu li.active a {
		padding-top: 20px; 
		border-left: 1px solid #e7e7e7;
		border-bottom-color: #fff; 
		margin-top: -10px;
		background-color: #069;
		color: #fff; 
	}
	
	.tabs-container .tabs {
		border: 1px solid #e9e9e9; 
		border-top: none;   
		margin-bottom: 30px;
	}
	
	.tabs-container .tab-content { padding: 25px; }
	
	/* Vertical tabs */
	
	.vertical-tabs-container {
		position: relative;
		border: 1px solid #e7e7e7;
		background-color: #bebebe;
	}
	
	.vertical-tabs-container .tabs-menu { 
		float: left;
		width: 179px;
		border-right: 1px solid #e7e7e7;
		margin-bottom: 0;
		list-style: none;
	}
	
	.vertical-tabs-container .tabs-menu li a { 
		display: block;
		padding: 15px 25px; 
		border-bottom: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;	
		margin-right: -1px; 
		background-color: #bebebe;
		color: #fff;
		text-decoration: none;
	}
	
	.vertical-tabs-container .tabs-menu li.active a {
		border-right-color: #fff;
		background-color: #069;
	}
	
	.vertical-tabs-container  .tabs {
		background-color: #fff;
		margin-left: 180px;	
	}
	
	.vertical-tabs-container .tab-content { padding: 25px; }
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu { border-bottom: none; }		
		.tabs-container .tabs-menu li { display: block; }
	
		.tabs-container .tabs-menu li a { 
			float: none; 
			display: block;
			padding: 20px 25px;
			border: 1px solid #e7e7e7;
			border-top: none;
			margin: 0;
		}
		
		.tabs-container .tabs-menu li a:hover { text-decoration: none; }
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #e7e7e7; }
		
		.tabs-container .tabs-menu li.active a {  
			padding: 20px 25px;
			border-bottom-color: #555;
			margin: 0;
			background-color: #fff;
			color: #666; 
		}
		
		.vertical-tabs-container .tabs-menu { 
			float: none;
			width: 100%;
		}
		
		.vertical-tabs-container  .tabs { margin-left: 0; }
		
		.vertical-tabs-container .tabs-menu li a {
			padding: 20px 25px;
			border-right: none;
			margin-right: 0;
		}

		.vertical-tabs-container .tabs-menu li.active a { border-bottom-color: #333; }		
	  
	}
	
/* ==========================================================================
   #Testimonials
   ========================================================================== */

	.testimonial {
		position: relative;
		margin-bottom: 40px;
		text-align: center;
	}
	
	.testimonial-overlay {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(123, 85, 125, 0.7);
	}
	
	#project-wrap .testimonial {
		padding: 65px;
		background: url(../../_content/corporate/backgrounds/570x400.png) no-repeat top left;
		color: #fff;
		text-align: left; 
	}
	
	#project-wrap .testimonial h4,
	#project-wrap .testimonial h6 {
		position: relative;
		z-index: 2;
		color: #fff; 
	}
	
	.testimonial blockquote { 
		position: relative;
		z-index: 2;
		-webkit-border-radius: 5px; 
				border-radius: 5px; 
		margin-bottom: 50px;
	}
	
	#project-wrap .testimonial blockquote { 
		margin-top: 30px;
		margin-bottom: 0;
	}
	
	.testimonial blockquote p { 
		margin-bottom: 0; 
		font-style: normal; 
	}

	.testimonial img {
		border-radius: 50%; 
		margin: 0 auto;
	}
	
	.testimonial h5 { margin-top: 40px; }
	.testimonial h5 span { color: #999; }	
	.testimonial a { color: #555; }

	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#project-wrap .testimonial { padding: 40px; }
		
	}
	
	@media (max-width: 767px) { 
	
		#project-wrap .testimonial { padding: 30px; }
	
	}
	
/* ==========================================================================
   #WordPress Widgets
   ========================================================================== */
	
	/* WordPress Widget Defaults */
	
	.widget { margin-bottom: 40px; }
	
	.widget-title { 
		margin-bottom: 20px;
		line-height: 18px;  
	}
	
	/* Text Widget */
	
	.widget_text {}
	
	.textwidget {}
	
	/* Search Widget */
	
	.widget_search {}
	
	#searchform {}
	
	.screen-reader-text { display: none; }
	
	#s { 
		width: 50%; 
		display: inline-block;
		padding: 9px;
		-webkit-box-sizing: border-box; 
		   -moz-box-sizing: border-box; 
		   		box-sizing: border-box; 
	}
	
	#searchsubmit { background: url(../images/bg-search.png) no-repeat center center; }

	/* Recent Entries Widget */
	
	.widget_recent_entries {}
	
	.widget_recent_entries ul { list-style: none; }
	
	.widget_recent_entries ul li {}
	
	.widget_recent_entries ul li a {}
	
	.widget_recent_entries ul li .post-date {}
	
	/* Pages Widget */
	
	.widget_pages {}
	
	.widget_pages ul { list-style: none; }
	
	.widget_pages ul li {}
	
	.widget_pages ul li a {}
	
	/* Archive Widget */
	
	.widget_archive {}
	
	.widget_archive ul { list-style: none; }
	
	.widget_archive ul li {} 
	
	.widget_archive ul li a {}
	
	.widget_archive select {}
	
	.widget_archive option {}	
	
	/* Categories Widget */
	
	.widget_categories {}
	
	.widget_categories ul { list-style: none; }
	
	.widget_categories ul li {} 
	
	.widget_categories ul ul.children {}
	
	.widget_categories a {}
	
	.widget_categories select{}
	
	.widget_categories select#cat {}
	
	.widget_categories select.postform {}
	
	.widget_categories option {}
	
	.widget_categories .level-0 {}
	
	.widget_categories .level-1 {}
	
	.widget_categories .level-2 {}
	
	.widget_categories .level-3 {}
	
	/* Meta Widget */
	
	.widget_meta {}
	
	.widget_meta ul { list-style: none; }
	
	.widget_meta ul li {}
	
	.widget_meta ul li a {}
	
	/* Recent Comments Widget */
	
	.widget_recent_comments {}
	
	#recentcomments { list-style: none; }
	
	#recentcomments li {}
	
	#recentcomments li a {}
	
	.recentcomments {}
	
	/* Tag Cloud Widget  */
	
	.widget_tag_cloud {}
	
	.widget_tag_cloud a {}
	
	.widget_tag_cloud a:after {}
	
	.widget_tag_cloud a:before {}
	
	/* Calendar Widget */
	
	.widget_calendar {}
	
	#calendar_wrap {}
	
	#calendar_wrap th {}
	
	#calendar_wrap td {}
	
	#wp-calendar tr td {}
	
	#wp-calendar caption {}
	
	#wp-calendar a {}
	
	#wp-calendar #today {}
	
	#wp-calendar #prev {}
	
	#wp-calendar #next {}
	
	#wp-calendar #next a {}
	
	#wp-calendar #prev a {}
	
	/* Custom Menu Widget */
	
	.widget_nav_menu {}	
	
	.widget_nav_menu .menu { list-style: none; }
	
	/* RSS Widget */
	
	.widget_rss {}
	
	.widget_rss ul { list-style: none; }	
	
	/* EWF Navigation */
	
	.ewf_widget_navigation {}
	
	.ewf_widget_navigation ul {  
		margin-bottom: 30px; 
		list-style-type: none; 
		list-style-position: outside; 
	}
	
	.ewf_widget_navigation li { border-bottom: 1px solid #efefef; }
	
	.ewf_widget_navigation li:last-child { border-bottom: none; }
	
	.ewf_widget_navigation li a { 
		display: block; 
		padding: 10px 0; 
	}
	
	.ewf_widget_navigation li a:hover { text-decoration: none; }
	
	.ewf_widget_navigation li a { color: #222; }
	
	.ewf_widget_navigation li.current a { color: #303030; }
	
	.ewf_widget_navigation li.current a:hover { text-decoration: none; }
	
	/* Custom - EWF Flickr Widget */
	
	.ewf_widget_flickr {}
	
	#flickr-feed {}
	
	#flickr-feed a { display: inline; }
	
	#flickr-feed img { 
		width: 65px; 
		height: auto;
		padding: 3px 8px 0 0; 
		border: none;
	}	

/* ==========================================================================
   #WordPress Comments
   ========================================================================== */
   
	.comments-title {}
	.comment-reply-title { font-weight: 700; }
	
	.commentlist .reply { display: none; }
	.commentlist .reply a {}
	
	.commentlist .alt {}
	.commentlist .odd {}
	.commentlist .even {}
	.commentlist .thread-alt {}
	.commentlist .thread-odd {}
	.commentlist .thread-even {}
	.commentlist li ul.children .alt {}
	.commentlist li ul.children .odd {}
	.commentlist li ul.children .even {}
	
	.commentlist .vcard {}
	.commentlist .vcard cite.fn {}
	.commentlist .vcard span.says { display: none; }
	
	.commentlist .vcard img.photo {}
	
	.commentlist .vcard img.avatar {
		position: absolute;
		top: 0;
		left: 35px; 
		border-radius: 50%; 
	}
	
	.children .vcard img.avatar { left: 140px; }
	
	.commentlist .vcard cite.fn a.url {
		color: #201914;
		font-weight: 700;
	}
	
	.commentlist .comment-meta { margin-bottom: 20px; } 
	.commentlist .comment-meta a { color: #201914; }
	.commentlist .commentmetadata {}
	.commentlist .commentmetadata a {}
	
	.commentlist .parent {}
	.commentlist .comment {}
	.commentlist .children {}
	.commentlist .pingback {}
	.commentlist .bypostauthor {}
	.commentlist .comment-author {}
	.commentlist .comment-author-admin {}
	
	.commentlist {
		margin: 50px 0;
		list-style: none; 
	}
	
	.commentlist li {
		position: relative;
	}
	
	.commentlist li .comment-body {
		padding: 25px;
		border-bottom: 2px solid #bebebe;
		margin: 0 0 80px 170px;
		background-color: #fff;
	}
	
	.commentlist li .comment-body:before,
	.commentlist li .comment-body:after {
		position: absolute;
		z-index: 2;
		top: 15px;
		left: 150px;
		width: 0; 
		height: 0;
		border-top: 20px solid transparent; 
		border-right: 20px solid #fff; 
		border-bottom: 20px solid transparent;
		-moz-transform: scale(.9999);
		content: "";
	}
	
	.commentlist li .comment-body:after {
		z-index: 1;
		top: 17px;
		border-right-color: #bebebe;
	}
	
	.commentlist li .comment-body:last-child { margin-bottom: 0; }
	
	.commentlist li p {}
	.commentlist li ul { list-style: none; }
	.commentlist li ul.children li {}
	
	.commentlist li ul.children li .comment-body { margin-left: 275px; }
	.commentlist li ul.children li .comment-body:before,
	.commentlist li ul.children li .comment-body:after { left: 255px; }
	
	.commentlist li ul.children li.alt {}
	.commentlist li ul.children li.byuser {}
	.commentlist li ul.children li.comment {}
	.commentlist li ul.children li.bypostauthor {}
	.commentlist li ul.children li.comment-author-admin {}
	
	#cancel-comment-reply {}
	
	#cancel-comment-reply a {}
	
	@media (max-width: 767px) { 
	
		.commentlist .vcard img.avatar,
		.children .vcard img.avatar {
			position: relative;
			left: 0;
			display: block;
			margin-bottom: 20px;
		}
		
		.commentlist li .comment-body,
		.commentlist li ul.children li .comment-body { margin-left: 0; }
		
		.commentlist li .comment-body:before,
		.commentlist li .comment-body:after { display: none; }
	
	}
	
/* ==========================================================================
   #WordPress Comment Form
   ========================================================================== */	
   
	/* Blog Post Comment Form */
	
	.comment-respond {
		padding: 45px 60px;
		border-bottom: 2px solid #bebebe;
		background-color: #fff;
	}
	
	.comment-respond h3 { color: #201914; }

	.nocomments { display: none; }
	
	.must-log-in { display: none; }
	
	.logged-in-as { display: none; }

	/* Comment Form */

	#commentform { margin-top: 40px; }
	
	/* Comment notes */
	
	.comment-notes { display: none; }
	
	/* Comment author field. */
	
	.comment-form-author { }
	
	.comment-form-author label { display: none; }
	
	.comment-form-author input#author { }

	/* Comment email field. */
	
	.comment-form-email { }
	
	.comment-form-email label { display: none; }
	
	.comment-form-email input#email { }

	/* Comment URL field. */
	
	.comment-form-url { }
	
	.comment-form-url label { display: none; }
	
	.comment-form-url input#url { }

	/* Required (*) text. */
	
	#commentform .required { }

	/* Comment form comment. */
	
	.comment-form-comment { }
	
	.comment-form-comment label { display: none; }
	
	.comment-form-comment textarea#comment { }

	/* Allowed tags paragraph. */
	
	.form-allowed-tags { display: none; }
	
	.form-allowed-tags code { }

	/* Paragraph that wraps the submit button and hidden comment ID fields. */
	
	.form-submit { margin-bottom: 0; }

	/* Submit button. */
	
	#commentform #submit {}
	

	
	}



.simple-ajax-popup:hover {
    text-decoration: none;
}

.span3 a:hover {
    text-decoration: none;
}

.block-area {
    float: left;
    margin-right: 10px;
}

.block-area:first-child {
    margin-right: 0px;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

.blog-post-slider .slides li {
    padding-right: 20px;
}

	@media (max-width: 767px) { 
	
		.comment-respond { padding: 45px 20px; }

.blog-post-slider .slides li {
    padding-right: 0px;
}