		/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 09 May 2016 12:38:20
*/


/*fonts.css*/




/* Fonts url references*/


/*- - - - - - - - - - - - - - - - - - - - - - - - 

fontawesome.css

- - - - - - - - - - - - - - - - - - - - - - - - */



/* Font Awesome - v4.0.3 - The iconic font designed for Bootstrap
 * http://fontawesome.io
 */
@font-face{font-family:'FontAwesome';

src:url('//www.monash.edu/__data/assets/file/0016/16405/fontawesome-webfont.eot?v=0.1.1?v=4.0.3');
src:url('//www.monash.edu/__data/assets/file/0016/16405/fontawesome-webfont.eot?v=0.1.1?#iefix&v=4.0.3') format('embedded-opentype'),
url('//www.monash.edu/__data/assets/file/0019/16408/fontawesome-webfont.woff?v=0.1.1?v=4.0.3') format('woff'),
url('//www.monash.edu/__data/assets/file/0018/16407/fontawesome-webfont.ttf?v=0.1.1?v=4.0.3') format('truetype'),
url('//www.monash.edu/__data/assets/file/0017/16406/fontawesome-webfont.svg?v=0.1.1?v=4.0.3#fontawesomeregular') format('svg');

font-weight:normal;font-style:normal}

.fa {
    display:inline-block;font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}




.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.2857142857142858em;text-align:center}.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1)}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-reply-all:before{content:"\f122"}.fa-mail-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}

/*- - - - - - - - - - - - - - - - - - - - - - - - 

icon-font-custom.css

- - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
    font-family: 'iconfontcustom';
    src:url('//www.monash.edu/__data/assets/file/0012/16401/iconfontcustom.eot?v=0.1.1?jzaet');
    src:url('//www.monash.edu/__data/assets/file/0012/16401/iconfontcustom.eot?v=0.1.1?#iefixjzaet') format('embedded-opentype'),
        url('//www.monash.edu/__data/assets/file/0015/16404/iconfontcustom.woff?v=0.1.1?jzaet') format('woff'),
        url('//www.monash.edu/__data/assets/file/0014/16403/iconfontcustom.ttf?v=0.1.1?jzaet') format('truetype'),
        url('//www.monash.edu/__data/assets/file/0013/16402/iconfontcustom.svg?v=0.1.1?jzaet#iconfontcustom') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ifc-"], [class*=" ifc-"] {
    font-family: 'iconfontcustom';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ifc-zoom_out:before {
    content: "\e600";
}
.ifc-zoom_in:before {
    content: "\e601";
}
.ifc-zip:before {
    content: "\e602";
}
.ifc-xls:before {
    content: "\e608";
}
.ifc-xlarge_icons:before {
    content: "\e609";
}
.ifc-workstation:before {
    content: "\e60a";
}
.ifc-workflow:before {
    content: "\e60b";
}
.ifc-word:before {
    content: "\e60f";
}
.ifc-windows_client:before {
    content: "\e616";
}
.ifc-wifi_logo:before {
    content: "\e619";
}
.ifc-wifi_direct:before {
    content: "\e61a";
}
.ifc-wifi:before {
    content: "\e61b";
}
.ifc-whole_hand:before {
    content: "\e61c";
}
.ifc-week_view:before {
    content: "\e625";
}
.ifc-wedding_rings:before {
    content: "\e626";
}
.ifc-wedding_photo:before {
    content: "\e627";
}
.ifc-wedding_day:before {
    content: "\e628";
}
.ifc-web_shield:before {
    content: "\e62b";
}
.ifc-web_camera:before {
    content: "\e62c";
}
.ifc-waypoint_map:before {
    content: "\e62d";
}
.ifc-waxing_gibbous:before {
    content: "\e62e";
}
.ifc-waxing_crescent:before {
    content: "\e62f";
}
.ifc-wav:before {
    content: "\e630";
}
.ifc-water:before {
    content: "\e636";
}
.ifc-watch:before {
    content: "\e637";
}
.ifc-washing_machine:before {
    content: "\e638";
}
.ifc-warning_shield:before {
    content: "\e639";
}
.ifc-waning_gibbous:before {
    content: "\e63b";
}
.ifc-waning_crescent:before {
    content: "\e63c";
}
.ifc-wallet:before {
    content: "\e63e";
}
.ifc-wacom_tablet:before {
    content: "\e644";
}
.ifc-vpn:before {
    content: "\e645";
}
.ifc-volleyball:before {
    content: "\e648";
}
.ifc-voip_gateway:before {
    content: "\e649";
}
.ifc-vkontakte:before {
    content: "\e64c";
}
.ifc-visa:before {
    content: "\e64e";
}
.ifc-virtual_mashine:before {
    content: "\e64f";
}
.ifc-virtual_machine:before {
    content: "\e650";
}
.ifc-video_camera:before {
    content: "\e655";
}
.ifc-vector:before {
    content: "\e659";
}
.ifc-variable:before {
    content: "\e65a";
}
.ifc-user_male4:before {
    content: "\e65e";
}
.ifc-user_male3:before {
    content: "\e65f";
}
.ifc-user_male2:before {
    content: "\e660";
}
.ifc-user_male:before {
    content: "\e661";
}
.ifc-user_female4:before {
    content: "\e662";
}
.ifc-user_female3:before {
    content: "\e663";
}
.ifc-user_female2:before {
    content: "\e664";
}
.ifc-user_female:before {
    content: "\e665";
}
.ifc-USD:before {
    content: "\e666";
}
.ifc-uppercase:before {
    content: "\e667";
}
.ifc-upload2_filled:before {
    content: "\e668";
}
.ifc-upload2:before {
    content: "\e669";
}
.ifc-upload_filled:before {
    content: "\e66a";
}
.ifc-upload:before {
    content: "\e66b";
}
.ifc-update:before {
    content: "\e66c";
}
.ifc-up4:before {
    content: "\e66d";
}
.ifc-up3:before {
    content: "\e66e";
}
.ifc-up2:before {
    content: "\e66f";
}
.ifc-up_right:before {
    content: "\e670";
}
.ifc-up_left:before {
    content: "\e671";
}
.ifc-up:before {
    content: "\e672";
}
.ifc-unlock:before {
    content: "\e673";
}
.ifc-unicast:before {
    content: "\e675";
}
.ifc-undo:before {
    content: "\e676";
}
.ifc-underline:before {
    content: "\e679";
}
.ifc-umbrella_filled:before {
    content: "\e67a";
}
.ifc-umbrella:before {
    content: "\e67b";
}
.ifc-type:before {
    content: "\e67c";
}
.ifc-txt:before {
    content: "\e67d";
}
.ifc-two_smartphones:before {
    content: "\e67e";
}
.ifc-twitter:before {
    content: "\e681";
}
.ifc-tv_show:before {
    content: "\e682";
}
.ifc-tv:before {
    content: "\e683";
}
.ifc-tumbler:before {
    content: "\e685";
}
.ifc-ttf:before {
    content: "\e687";
}
.ifc-trophy:before {
    content: "\e68a";
}
.ifc-treasury_map:before {
    content: "\e695";
}
.ifc-trash2:before {
    content: "\e696";
}
.ifc-trash:before {
    content: "\e697";
}
.ifc-transistor:before {
    content: "\e698";
}
.ifc-torah:before {
    content: "\e6a3";
}
.ifc-toolbox:before {
    content: "\e6a6";
}
.ifc-tones:before {
    content: "\e6a9";
}
.ifc-today:before {
    content: "\e6ad";
}
.ifc-timezone-12:before {
    content: "\e6af";
}
.ifc-timezone-11:before {
    content: "\e6b0";
}
.ifc-timezone-10:before {
    content: "\e6b1";
}
.ifc-timezone-9:before {
    content: "\e6b2";
}
.ifc-timezone-8:before {
    content: "\e6b3";
}
.ifc-timezone-7:before {
    content: "\e6b4";
}
.ifc-timezone-6:before {
    content: "\e6b5";
}
.ifc-timezone-5:before {
    content: "\e6b6";
}
.ifc-timezone-4:before {
    content: "\e6b7";
}
.ifc-timezone-3:before {
    content: "\e6b8";
}
.ifc-timezone-2:before {
    content: "\e6b9";
}
.ifc-timezone-1:before {
    content: "\e6ba";
}
.ifc-timezone_utc:before {
    content: "\e6bb";
}
.ifc-timezone_12:before {
    content: "\e6bc";
}
.ifc-timezone_11:before {
    content: "\e6bd";
}
.ifc-timezone_10:before {
    content: "\e6be";
}
.ifc-timezone_9:before {
    content: "\e6bf";
}
.ifc-timezone_8:before {
    content: "\e6c0";
}
.ifc-timezone_7:before {
    content: "\e6c1";
}
.ifc-timezone_6:before {
    content: "\e6c2";
}
.ifc-timezone_5:before {
    content: "\e6c3";
}
.ifc-timezone_4:before {
    content: "\e6c4";
}
.ifc-timezone_3:before {
    content: "\e6c5";
}
.ifc-timezone_2:before {
    content: "\e6c6";
}
.ifc-timezone_1:before {
    content: "\e6c7";
}
.ifc-timezone:before {
    content: "\e6c8";
}
.ifc-timer:before {
    content: "\e6c9";
}
.ifc-tif:before {
    content: "\e6cb";
}
.ifc-thumb_up:before {
    content: "\e6cd";
}
.ifc-thumb_down:before {
    content: "\e6ce";
}
.ifc-this_way_up:before {
    content: "\e6d2";
}
.ifc-text_color:before {
    content: "\e6d5";
}
.ifc-temperature:before {
    content: "\e6db";
}
.ifc-tea:before {
    content: "\e6de";
}
.ifc-tar:before {
    content: "\e6e1";
}
.ifc-talk:before {
    content: "\e6e6";
}
.ifc-tails:before {
    content: "\e6e7";
}
.ifc-table:before {
    content: "\e6ea";
}
.ifc-switch_camera_filled:before {
    content: "\e6f2";
}
.ifc-switch_camera:before {
    content: "\e6f3";
}
.ifc-switch:before {
    content: "\e6f4";
}
.ifc-swipe_up:before {
    content: "\e6f6";
}
.ifc-swipe_right:before {
    content: "\e6f7";
}
.ifc-swipe_left:before {
    content: "\e6f8";
}
.ifc-swipe_down:before {
    content: "\e6f9";
}
.ifc-swimming:before {
    content: "\e6fa";
}
.ifc-surface:before {
    content: "\e6ff";
}
.ifc-sun:before {
    content: "\e700";
}
.ifc-summer:before {
    content: "\e701";
}
.ifc-student:before {
    content: "\e705";
}
.ifc-strikethrough:before {
    content: "\e708";
}
.ifc-storm:before {
    content: "\e70b";
}
.ifc-stopwatch:before {
    content: "\e70c";
}
.ifc-stepper_motor:before {
    content: "\e70f";
}
.ifc-stack_of_photos:before {
    content: "\e717";
}
.ifc-stack:before {
    content: "\e718";
}
.ifc-ssd:before {
    content: "\e719";
}
.ifc-speedometer:before {
    content: "\e722";
}
.ifc-speech_bubble:before {
    content: "\e724";
}
.ifc-south_direction:before {
    content: "\e729";
}
.ifc-smartphone_tablet:before {
    content: "\e733";
}
.ifc-small_lens:before {
    content: "\e735";
}
.ifc-small_icons:before {
    content: "\e736";
}
.ifc-slr_small_lens:before {
    content: "\e739";
}
.ifc-slr_large_lens:before {
    content: "\e73b";
}
.ifc-slr_camera2_filled:before {
    content: "\e73c";
}
.ifc-slr_camera2:before {
    content: "\e73d";
}
.ifc-slr_camera_body:before {
    content: "\e740";
}
.ifc-slr_camera:before {
    content: "\e741";
}
.ifc-slr_back_side:before {
    content: "\e743";
}
.ifc-sling_here:before {
    content: "\e744";
}
.ifc-sleet:before {
    content: "\e745";
}
.ifc-slave:before {
    content: "\e749";
}
.ifc-skype:before {
    content: "\e74a";
}
.ifc-skip_to_start:before {
    content: "\e74c";
}
.ifc-shuffle:before {
    content: "\e752";
}
.ifc-shopping_cart_loaded:before {
    content: "\e759";
}
.ifc-shopping_cart_empty:before {
    content: "\e75a";
}
.ifc-shopping_basket:before {
    content: "\e75b";
}
.ifc-shop:before {
    content: "\e75c";
}
.ifc-shield:before {
    content: "\e761";
}
.ifc-shared:before {
    content: "\e766";
}
.ifc-settings3:before {
    content: "\e767";
}
.ifc-settings2:before {
    content: "\e769";
}
.ifc-settings:before {
    content: "\e76b";
}
.ifc-server:before {
    content: "\e76c";
}
.ifc-sent:before {
    content: "\e76d";
}
.ifc-sensor:before {
    content: "\e76e";
}
.ifc-sell:before {
    content: "\e76f";
}
.ifc-SEK:before {
    content: "\e771";
}
.ifc-security_ssl:before {
    content: "\e772";
}
.ifc-security_checked:before {
    content: "\e773";
}
.ifc-security_aes:before {
    content: "\e774";
}
.ifc-search:before {
    content: "\e775";
}
.ifc-sea_waves:before {
    content: "\e777";
}
.ifc-scrolling:before {
    content: "\e77a";
}
.ifc-screwdriver:before {
    content: "\e77b";
}
.ifc-scales_of_Balance:before {
    content: "\e783";
}
.ifc-sale:before {
    content: "\e78c";
}
.ifc-sagittarius:before {
    content: "\e78f";
}
.ifc-safari:before {
    content: "\e791";
}
.ifc-sad:before {
    content: "\e792";
}
.ifc-running_rabbit:before {
    content: "\e793";
}
.ifc-running:before {
    content: "\e794";
}
.ifc-run_command:before {
    content: "\e795";
}
.ifc-rugby:before {
    content: "\e796";
}
.ifc-rucksach:before {
    content: "\e797";
}
.ifc-rss:before {
    content: "\e798";
}
.ifc-router:before {
    content: "\e79a";
}
.ifc-rotation_cw:before {
    content: "\e79b";
}
.ifc-rotation_ccw:before {
    content: "\e79c";
}
.ifc-rotate_to_portrait:before {
    content: "\e79d";
}
.ifc-rotate_to_landscape:before {
    content: "\e79e";
}
.ifc-rotate_camera:before {
    content: "\e7a0";
}
.ifc-rook:before {
    content: "\e7a2";
}
.ifc-right3:before {
    content: "\e7ab";
}
.ifc-right2:before {
    content: "\e7ac";
}
.ifc-right_click:before {
    content: "\e7af";
}
.ifc-right:before {
    content: "\e7b0";
}
.ifc-rfid_tag:before {
    content: "\e7b2";
}
.ifc-rfid_signal:before {
    content: "\e7b3";
}
.ifc-rfid_sensor:before {
    content: "\e7b4";
}
.ifc-rewind:before {
    content: "\e7b5";
}
.ifc-resize:before {
    content: "\e7ba";
}
.ifc-replay:before {
    content: "\e7bc";
}
.ifc-repeat:before {
    content: "\e7bd";
}
.ifc-rename:before {
    content: "\e7be";
}
.ifc-remove_user:before {
    content: "\e7bf";
}
.ifc-remove_image:before {
    content: "\e7c1";
}
.ifc-remote_working:before {
    content: "\e7c2";
}
.ifc-reload:before {
    content: "\e7c3";
}
.ifc-relay:before {
    content: "\e7c4";
}
.ifc-register_editor:before {
    content: "\e7c6";
}
.ifc-redo:before {
    content: "\e7c8";
}
.ifc-red_hat:before {
    content: "\e7c9";
}
.ifc-recycle_sign_filled:before {
    content: "\e7cb";
}
.ifc-recycle_sign:before {
    content: "\e7cc";
}
.ifc-read_message:before {
    content: "\e7ce";
}
.ifc-rar:before {
    content: "\e7d0";
}
.ifc-radio_tower:before {
    content: "\e7d3";
}
.ifc-radar_plot:before {
    content: "\e7d6";
}
.ifc-rack:before {
    content: "\e7d7";
}
.ifc-quote:before {
    content: "\e7d9";
}
.ifc-puzzle:before {
    content: "\e7e1";
}
.ifc-put_out:before {
    content: "\e7e2";
}
.ifc-put_in_motion:before {
    content: "\e7e3";
}
.ifc-put_in:before {
    content: "\e7e4";
}
.ifc-publisher:before {
    content: "\e7e7";
}
.ifc-psd:before {
    content: "\e7ea";
}
.ifc-processor:before {
    content: "\e7ec";
}
.ifc-private2:before {
    content: "\e7ed";
}
.ifc-print:before {
    content: "\e7ef";
}
.ifc-price_tag_usd:before {
    content: "\e7f0";
}
.ifc-price_tag_pound:before {
    content: "\e7f1";
}
.ifc-price_tag_euro:before {
    content: "\e7f2";
}
.ifc-price_tag:before {
    content: "\e7f3";
}
.ifc-pressure:before {
    content: "\e7f5";
}
.ifc-presentation:before {
    content: "\e7f7";
}
.ifc-power_point:before {
    content: "\e7fa";
}
.ifc-positive_dynamic:before {
    content: "\e7fd";
}
.ifc-portrait_mode:before {
    content: "\e7fe";
}
.ifc-popular_topic:before {
    content: "\e7ff";
}
.ifc-polyline:before {
    content: "\e800";
}
.ifc-polygone:before {
    content: "\e801";
}
.ifc-polygon:before {
    content: "\e802";
}
.ifc-poll_topic:before {
    content: "\e803";
}
.ifc-png:before {
    content: "\e806";
}
.ifc-plus:before {
    content: "\e807";
}
.ifc-plugin:before {
    content: "\e809";
}
.ifc-pliers:before {
    content: "\e80a";
}
.ifc-play:before {
    content: "\e80b";
}
.ifc-plasmid:before {
    content: "\e80c";
}
.ifc-piston:before {
    content: "\e811";
}
.ifc-pinterest:before {
    content: "\e813";
}
.ifc-pinch:before {
    content: "\e815";
}
.ifc-pin:before {
    content: "\e818";
}
.ifc-pill:before {
    content: "\e819";
}
.ifc-pie_chart:before {
    content: "\e81b";
}
.ifc-picture:before {
    content: "\e81d";
}
.ifc-pickup:before {
    content: "\e81e";
}
.ifc-photo:before {
    content: "\e821";
}
.ifc-phone2:before {
    content: "\e823";
}
.ifc-phone1:before {
    content: "\e824";
}
.ifc-perforator:before {
    content: "\e825";
}
.ifc-pencil_sharpener:before {
    content: "\e826";
}
.ifc-pen:before {
    content: "\e827";
}
.ifc-pdf:before {
    content: "\e82a";
}
.ifc-pawn:before {
    content: "\e82b";
}
.ifc-pause:before {
    content: "\e82c";
}
.ifc-password:before {
    content: "\e82e";
}
.ifc-passenger:before {
    content: "\e82f";
}
.ifc-paper_clip:before {
    content: "\e834";
}
.ifc-paper_clamp:before {
    content: "\e835";
}
.ifc-panorama:before {
    content: "\e837";
}
.ifc-paint_bucket:before {
    content: "\e839";
}
.ifc-paint_basket:before {
    content: "\e83a";
}
.ifc-pain_brush:before {
    content: "\e83b";
}
.ifc-overhead_crane:before {
    content: "\e83e";
}
.ifc-outlook:before {
    content: "\e83f";
}
.ifc-outline:before {
    content: "\e840";
}
.ifc-outgoing_data:before {
    content: "\e841";
}
.ifc-otf:before {
    content: "\e842";
}
.ifc-osm:before {
    content: "\e843";
}
.ifc-origami:before {
    content: "\e844";
}
.ifc-opera:before {
    content: "\e845";
}
.ifc-opened_folder:before {
    content: "\e847";
}
.ifc-open_in_browser:before {
    content: "\e848";
}
.ifc-online:before {
    content: "\e849";
}
.ifc-one_note:before {
    content: "\e84a";
}
.ifc-one_finger:before {
    content: "\e84b";
}
.ifc-old_time_camera:before {
    content: "\e84d";
}
.ifc-ogg:before {
    content: "\e84e";
}
.ifc-office_lamp:before {
    content: "\e84f";
}
.ifc-numerical_sorting_21:before {
    content: "\e853";
}
.ifc-north_direction:before {
    content: "\e856";
}
.ifc-night_vision:before {
    content: "\e85b";
}
.ifc-new_moon:before {
    content: "\e85f";
}
.ifc-neutral_decision:before {
    content: "\e860";
}
.ifc-negative_dynamic:before {
    content: "\e862";
}
.ifc-near_me:before {
    content: "\e865";
}
.ifc-nas:before {
    content: "\e866";
}
.ifc-mute:before {
    content: "\e86a";
}
.ifc-musical:before {
    content: "\e86c";
}
.ifc-music_video:before {
    content: "\e86d";
}
.ifc-music_record:before {
    content: "\e86e";
}
.ifc-music:before {
    content: "\e870";
}
.ifc-multiple_smartphones:before {
    content: "\e873";
}
.ifc-multiple_inputs:before {
    content: "\e874";
}
.ifc-multiple_devices:before {
    content: "\e875";
}
.ifc-multiple_cameras:before {
    content: "\e876";
}
.ifc-multicast:before {
    content: "\e877";
}
.ifc-mpg:before {
    content: "\e878";
}
.ifc-mp3:before {
    content: "\e879";
}
.ifc-movie:before {
    content: "\e87a";
}
.ifc-moved_topic:before {
    content: "\e87b";
}
.ifc-move_by_trolley:before {
    content: "\e87c";
}
.ifc-mov:before {
    content: "\e87d";
}
.ifc-mouse_trap:before {
    content: "\e87f";
}
.ifc-mouse:before {
    content: "\e880";
}
.ifc-month_view:before {
    content: "\e888";
}
.ifc-money_box:before {
    content: "\e889";
}
.ifc-money_bag:before {
    content: "\e88a";
}
.ifc-money:before {
    content: "\e88b";
}
.ifc-mobile_home:before {
    content: "\e88d";
}
.ifc-minus:before {
    content: "\e891";
}
.ifc-mind_map:before {
    content: "\e892";
}
.ifc-micro2:before {
    content: "\e899";
}
.ifc-micro:before {
    content: "\e89a";
}
.ifc-message:before {
    content: "\e89c";
}
.ifc-mess_tin:before {
    content: "\e89d";
}
.ifc-menu:before {
    content: "\e89e";
}
.ifc-memory_module:before {
    content: "\e8a0";
}
.ifc-megaphone2:before {
    content: "\e8a2";
}
.ifc-megaphone:before {
    content: "\e8a4";
}
.ifc-medium_volume:before {
    content: "\e8a6";
}
.ifc-medium_icons:before {
    content: "\e8a7";
}
.ifc-medium_battery:before {
    content: "\e8a8";
}
.ifc-math:before {
    content: "\e8ab";
}
.ifc-matches:before {
    content: "\e8ac";
}
.ifc-mastercard:before {
    content: "\e8ad";
}
.ifc-map_marker:before {
    content: "\e8b3";
}
.ifc-map_editing:before {
    content: "\e8b4";
}
.ifc-map:before {
    content: "\e8b5";
}
.ifc-male:before {
    content: "\e8b7";
}
.ifc-magnet:before {
    content: "\e8b9";
}
.ifc-mac_client:before {
    content: "\e8bb";
}
.ifc-luggage_trolley:before {
    content: "\e8bd";
}
.ifc-lowercase:before {
    content: "\e8be";
}
.ifc-low_volume:before {
    content: "\e8bf";
}
.ifc-low_battery:before {
    content: "\e8c0";
}
.ifc-lol:before {
    content: "\e8c2";
}
.ifc-log_cabine:before {
    content: "\e8c3";
}
.ifc-lock_portrait:before {
    content: "\e8c4";
}
.ifc-lock_landscape:before {
    content: "\e8c5";
}
.ifc-lock:before {
    content: "\e8c7";
}
.ifc-livingroom:before {
    content: "\e8c8";
}
.ifc-little_snow:before {
    content: "\e8c9";
}
.ifc-little_rain:before {
    content: "\e8ca";
}
.ifc-literature:before {
    content: "\e8cb";
}
.ifc-list:before {
    content: "\e8cd";
}
.ifc-linux_client:before {
    content: "\e8ce";
}
.ifc-linkedin:before {
    content: "\e8cf";
}
.ifc-link:before {
    content: "\e8d1";
}
.ifc-line_width:before {
    content: "\e8d2";
}
.ifc-line_chart:before {
    content: "\e8d3";
}
.ifc-line:before {
    content: "\e8d4";
}
.ifc-like:before {
    content: "\e8d5";
}
.ifc-lift_cart_here:before {
    content: "\e8d7";
}
.ifc-libra:before {
    content: "\e8d8";
}
.ifc-left3:before {
    content: "\e8dc";
}
.ifc-left2:before {
    content: "\e8dd";
}
.ifc-left_click:before {
    content: "\e8e0";
}
.ifc-left:before {
    content: "\e8e1";
}
.ifc-lcd:before {
    content: "\e8e4";
}
.ifc-layers:before {
    content: "\e8e5";
}
.ifc-last_quarter:before {
    content: "\e8e7";
}
.ifc-laser_beam:before {
    content: "\e8e8";
}
.ifc-large_lens:before {
    content: "\e8ea";
}
.ifc-large_icons:before {
    content: "\e8eb";
}
.ifc-laptop:before {
    content: "\e8ec";
}
.ifc-lantern:before {
    content: "\e8ed";
}
.ifc-lamp:before {
    content: "\e8f0";
}
.ifc-knight:before {
    content: "\e8f3";
}
.ifc-knife:before {
    content: "\e8f4";
}
.ifc-kmz:before {
    content: "\e8f5";
}
.ifc-kml:before {
    content: "\e8f6";
}
.ifc-king:before {
    content: "\e8f9";
}
.ifc-keyboard:before {
    content: "\e8fa";
}
.ifc-key:before {
    content: "\e8fc";
}
.ifc-keep_dry:before {
    content: "\e8fe";
}
.ifc-jpg:before {
    content: "\e902";
}
.ifc-joystick:before {
    content: "\e904";
}
.ifc-jingle_bell:before {
    content: "\e906";
}
.ifc-jcb:before {
    content: "\e907";
}
.ifc-java_coffee_cup_logo:before {
    content: "\e909";
}
.ifc-iphone:before {
    content: "\e90f";
}
.ifc-ipad:before {
    content: "\e910";
}
.ifc-ip_address:before {
    content: "\e911";
}
.ifc-invisible:before {
    content: "\e912";
}
.ifc-internet_explorer:before {
    content: "\e913";
}
.ifc-internal:before {
    content: "\e914";
}
.ifc-integrated_webcam:before {
    content: "\e916";
}
.ifc-integrated_circuit:before {
    content: "\e917";
}
.ifc-instagram:before {
    content: "\e918";
}
.ifc-infrared_beam_sensor:before {
    content: "\e919";
}
.ifc-infrared_beam_sending:before {
    content: "\e91a";
}
.ifc-infrared:before {
    content: "\e91b";
}
.ifc-informatics:before {
    content: "\e91c";
}
.ifc-info:before {
    content: "\e91e";
}
.ifc-increase_font:before {
    content: "\e91f";
}
.ifc-incoming_data:before {
    content: "\e920";
}
.ifc-incendiary_grenade:before {
    content: "\e921";
}
.ifc-inbox:before {
    content: "\e922";
}
.ifc-in_love:before {
    content: "\e923";
}
.ifc-import:before {
    content: "\e924";
}
.ifc-idea:before {
    content: "\e926";
}
.ifc-icq:before {
    content: "\e927";
}
.ifc-hydroelectric:before {
    content: "\e928";
}
.ifc-humidity:before {
    content: "\e929";
}
.ifc-humburger:before {
    content: "\e92a";
}
.ifc-human_footprints:before {
    content: "\e92b";
}
.ifc-hub:before {
    content: "\e92c";
}
.ifc-html:before {
    content: "\e92d";
}
.ifc-hot_dog:before {
    content: "\e92e";
}
.ifc-hot_chocolate:before {
    content: "\e92f";
}
.ifc-horseshoe:before {
    content: "\e930";
}
.ifc-home:before {
    content: "\e936";
}
.ifc-history:before {
    content: "\e938";
}
.ifc-high_volume:before {
    content: "\e939";
}
.ifc-high_battery:before {
    content: "\e93a";
}
.ifc-hex_burner:before {
    content: "\e93b";
}
.ifc-herald_trumpet:before {
    content: "\e93c";
}
.ifc-help2:before {
    content: "\e93e";
}
.ifc-help:before {
    content: "\e940";
}
.ifc-helicopter:before {
    content: "\e942";
}
.ifc-heat_map:before {
    content: "\e944";
}
.ifc-heart_monitor:before {
    content: "\e946";
}
.ifc-headset:before {
    content: "\e949";
}
.ifc-headphones:before {
    content: "\e94a";
}
.ifc-handle_with_care:before {
    content: "\e952";
}
.ifc-hand_planting:before {
    content: "\e953";
}
.ifc-hand_palm_scan:before {
    content: "\e954";
}
.ifc-hand:before {
    content: "\e956";
}
.ifc-hammer:before {
    content: "\e957";
}
.ifc-group:before {
    content: "\e95f";
}
.ifc-grass:before {
    content: "\e963";
}
.ifc-gpx:before {
    content: "\e965";
}
.ifc-gps_receiving:before {
    content: "\e966";
}
.ifc-gps_disconnected:before {
    content: "\e967";
}
.ifc-google_plus:before {
    content: "\e969";
}
.ifc-good_decision:before {
    content: "\e96a";
}
.ifc-gis:before {
    content: "\e96e";
}
.ifc-gift:before {
    content: "\e970";
}
.ifc-gif:before {
    content: "\e971";
}
.ifc-geocaching:before {
    content: "\e977";
}
.ifc-geo_fence:before {
    content: "\e978";
}
.ifc-generic_text:before {
    content: "\e979";
}
.ifc-generic_sorting2:before {
    content: "\e97a";
}
.ifc-generic_sorting:before {
    content: "\e97b";
}
.ifc-genealogy:before {
    content: "\e97c";
}
.ifc-genderqueer:before {
    content: "\e97d";
}
.ifc-GBP:before {
    content: "\e981";
}
.ifc-gas2:before {
    content: "\e983";
}
.ifc-gantt_chart:before {
    content: "\e989";
}
.ifc-gallery:before {
    content: "\e98b";
}
.ifc-gaiters:before {
    content: "\e98c";
}
.ifc-fully_charged_battery:before {
    content: "\e98d";
}
.ifc-full_moon:before {
    content: "\e98e";
}
.ifc-fridge:before {
    content: "\e990";
}
.ifc-french_fries:before {
    content: "\e992";
}
.ifc-four_fingers:before {
    content: "\e995";
}
.ifc-forward2:before {
    content: "\e996";
}
.ifc-forward:before {
    content: "\e997";
}
.ifc-fork_truck:before {
    content: "\e999";
}
.ifc-fork:before {
    content: "\e99a";
}
.ifc-football2:before {
    content: "\e99c";
}
.ifc-football:before {
    content: "\e99d";
}
.ifc-food:before {
    content: "\e99e";
}
.ifc-folder:before {
    content: "\e9a0";
}
.ifc-fog_night:before {
    content: "\e9a1";
}
.ifc-fog_day:before {
    content: "\e9a2";
}
.ifc-flv:before {
    content: "\e9a3";
}
.ifc-flow_chart:before {
    content: "\e9a5";
}
.ifc-flip_vertical:before {
    content: "\e9a7";
}
.ifc-flip_horizontal:before {
    content: "\e9a8";
}
.ifc-flip_flops:before {
    content: "\e9a9";
}
.ifc-flash_light:before {
    content: "\e9ab";
}
.ifc-flag2:before {
    content: "\e9ad";
}
.ifc-flag:before {
    content: "\e9af";
}
.ifc-first_quarter:before {
    content: "\e9b1";
}
.ifc-firefox:before {
    content: "\e9b5";
}
.ifc-find_user:before {
    content: "\e9ba";
}
.ifc-filter:before {
    content: "\e9bb";
}
.ifc-film_reel:before {
    content: "\e9bd";
}
.ifc-filled_box:before {
    content: "\e9be";
}
.ifc-fb2:before {
    content: "\e9c1";
}
.ifc-fast_forward:before {
    content: "\e9c2";
}
.ifc-fantasy:before {
    content: "\e9c4";
}
.ifc-facebook:before {
    content: "\e9c8";
}
.ifc-external_link:before {
    content: "\e9ca";
}
.ifc-external:before {
    content: "\e9cb";
}
.ifc-export:before {
    content: "\e9cc";
}
.ifc-expensive:before {
    content: "\e9ce";
}
.ifc-expand:before {
    content: "\e9cf";
}
.ifc-exit:before {
    content: "\e9d0";
}
.ifc-exe:before {
    content: "\e9d1";
}
.ifc-excel:before {
    content: "\e9d2";
}
.ifc-EUR:before {
    content: "\e9d3";
}
.ifc-error:before {
    content: "\e9d4";
}
.ifc-eraser:before {
    content: "\e9d6";
}
.ifc-epub:before {
    content: "\e9d7";
}
.ifc-eps:before {
    content: "\e9d8";
}
.ifc-enter:before {
    content: "\e9d9";
}
.ifc-engineering:before {
    content: "\e9da";
}
.ifc-end:before {
    content: "\e9de";
}
.ifc-email:before {
    content: "\e9e0";
}
.ifc-ellipse:before {
    content: "\e9e1";
}
.ifc-electronics:before {
    content: "\e9e2";
}
.ifc-eggs:before {
    content: "\e9e6";
}
.ifc-edit_user:before {
    content: "\e9e7";
}
.ifc-edit_image:before {
    content: "\e9e9";
}
.ifc-edit:before {
    content: "\e9ea";
}
.ifc-east_direction:before {
    content: "\e9eb";
}
.ifc-earth_element:before {
    content: "\e9ec";
}
.ifc-dribbble:before {
    content: "\e9f1";
}
.ifc-drafting_compass:before {
    content: "\e9f3";
}
.ifc-downpour:before {
    content: "\e9f4";
}
.ifc-download2_filled:before {
    content: "\e9f5";
}
.ifc-download2:before {
    content: "\e9f6";
}
.ifc-download_filled:before {
    content: "\e9f7";
}
.ifc-download:before {
    content: "\e9f8";
}
.ifc-down4:before {
    content: "\e9f9";
}
.ifc-down2:before {
    content: "\e9fa";
}
.ifc-down_right:before {
    content: "\e9fb";
}
.ifc-down_left:before {
    content: "\e9fc";
}
.ifc-down:before {
    content: "\e9fd";
}
.ifc-double_tap:before {
    content: "\e9fe";
}
.ifc-donut_chart:before {
    content: "\e9ff";
}
.ifc-domain:before {
    content: "\ea00";
}
.ifc-documentary:before {
    content: "\ea04";
}
.ifc-document:before {
    content: "\ea06";
}
.ifc-doctor_suitecase:before {
    content: "\ea07";
}
.ifc-doctor:before {
    content: "\ea08";
}
.ifc-doc:before {
    content: "\ea09";
}
.ifc-do_not_tilt:before {
    content: "\ea0a";
}
.ifc-do_not_stack:before {
    content: "\ea0b";
}
.ifc-do_not_expose_to_sunlight:before {
    content: "\ea0c";
}
.ifc-do_not_drop:before {
    content: "\ea0d";
}
.ifc-dna_helix:before {
    content: "\ea0e";
}
.ifc-directions:before {
    content: "\ea14";
}
.ifc-diamonds:before {
    content: "\ea18";
}
.ifc-dharmacakra:before {
    content: "\ea19";
}
.ifc-design:before {
    content: "\ea1e";
}
.ifc-delete_sign:before {
    content: "\ea21";
}
.ifc-delete_shield:before {
    content: "\ea22";
}
.ifc-delete_message:before {
    content: "\ea23";
}
.ifc-define_location:before {
    content: "\ea25";
}
.ifc-decrease_font:before {
    content: "\ea26";
}
.ifc-day_view:before {
    content: "\ea2a";
}
.ifc-date_to:before {
    content: "\ea2b";
}
.ifc-date_from:before {
    content: "\ea2c";
}
.ifc-database_protection:before {
    content: "\ea2e";
}
.ifc-database_encryption:before {
    content: "\ea2f";
}
.ifc-database_backup:before {
    content: "\ea30";
}
.ifc-database:before {
    content: "\ea31";
}
.ifc-data_in_both_directions:before {
    content: "\ea32";
}
.ifc-cymbals:before {
    content: "\ea33";
}
.ifc-cut:before {
    content: "\ea35";
}
.ifc-currency:before {
    content: "\ea36";
}
.ifc-csv:before {
    content: "\ea37";
}
.ifc-css:before {
    content: "\ea38";
}
.ifc-crystal_ball:before {
    content: "\ea3a";
}
.ifc-crop:before {
    content: "\ea40";
}
.ifc-creek:before {
    content: "\ea43";
}
.ifc-coral:before {
    content: "\ea4b";
}
.ifc-copy_link:before {
    content: "\ea4c";
}
.ifc-copy:before {
    content: "\ea4d";
}
.ifc-control_panel:before {
    content: "\ea53";
}
.ifc-content:before {
    content: "\ea54";
}
.ifc-contacts:before {
    content: "\ea55";
}
.ifc-contact_card:before {
    content: "\ea56";
}
.ifc-construction_worker:before {
    content: "\ea57";
}
.ifc-console:before {
    content: "\ea58";
}
.ifc-connected_no_data:before {
    content: "\ea59";
}
.ifc-compost_heap:before {
    content: "\ea5d";
}
.ifc-compass2:before {
    content: "\ea5e";
}
.ifc-compas:before {
    content: "\ea5f";
}
.ifc-command_line:before {
    content: "\ea61";
}
.ifc-combo_chart:before {
    content: "\ea64";
}
.ifc-comb:before {
    content: "\ea65";
}
.ifc-color_dropper:before {
    content: "\ea66";
}
.ifc-collect:before {
    content: "\ea67";
}
.ifc-collapse:before {
    content: "\ea68";
}
.ifc-coffee:before {
    content: "\ea6c";
}
.ifc-code:before {
    content: "\ea6d";
}
.ifc-coctail:before {
    content: "\ea6e";
}
.ifc-clouds:before {
    content: "\ea73";
}
.ifc-cloud_storage:before {
    content: "\ea74";
}
.ifc-close_up_mode:before {
    content: "\ea76";
}
.ifc-close:before {
    content: "\ea77";
}
.ifc-clock:before {
    content: "\ea78";
}
.ifc-clipperboard:before {
    content: "\ea7a";
}
.ifc-clear_shopping_cart:before {
    content: "\ea7f";
}
.ifc-circuit:before {
    content: "\ea82";
}
.ifc-chrome:before {
    content: "\ea83";
}
.ifc-christmas_star:before {
    content: "\ea85";
}
.ifc-christmas_gift:before {
    content: "\ea8e";
}
.ifc-chisel_tip_marker:before {
    content: "\ea95";
}
.ifc-child_new_post:before {
    content: "\ea98";
}
.ifc-checkmark:before {
    content: "\ea9f";
}
.ifc-checked_user:before {
    content: "\eaa0";
}
.ifc-cheap:before {
    content: "\eaa1";
}
.ifc-charge_battery:before {
    content: "\eaa2";
}
.ifc-change_user:before {
    content: "\eaa3";
}
.ifc-centre_of_gravity:before {
    content: "\eaa7";
}
.ifc-center_direction:before {
    content: "\eaa8";
}
.ifc-cash_receiving:before {
    content: "\eaab";
}
.ifc-carabiner:before {
    content: "\eab2";
}
.ifc-car_battery:before {
    content: "\eab3";
}
.ifc-capacitor:before {
    content: "\eab5";
}
.ifc-cannon:before {
    content: "\eab6";
}
.ifc-cancel:before {
    content: "\eab9";
}
.ifc-camping_tent:before {
    content: "\eaba";
}
.ifc-camera_identification:before {
    content: "\eabe";
}
.ifc-camera_addon_identification:before {
    content: "\eabf";
}
.ifc-camera_addon:before {
    content: "\eac0";
}
.ifc-camcoder_pro:before {
    content: "\eac2";
}
.ifc-camcoder:before {
    content: "\eac4";
}
.ifc-calendar:before {
    content: "\eac5";
}
.ifc-CAD:before {
    content: "\eac6";
}
.ifc-cable_release:before {
    content: "\eac7";
}
.ifc-business:before {
    content: "\eac9";
}
.ifc-bus:before {
    content: "\eaca";
}
.ifc-bungalow:before {
    content: "\eacb";
}
.ifc-bunch_ingredients:before {
    content: "\eacc";
}
.ifc-broadcasting:before {
    content: "\ead3";
}
.ifc-briefcase:before {
    content: "\ead5";
}
.ifc-brandenburg_gate:before {
    content: "\ead8";
}
.ifc-brain_filled:before {
    content: "\ead9";
}
.ifc-brain:before {
    content: "\eada";
}
.ifc-box2:before {
    content: "\eadc";
}
.ifc-box:before {
    content: "\eadd";
}
.ifc-border_color:before {
    content: "\eadf";
}
.ifc-bookmark:before {
    content: "\eae2";
}
.ifc-blur:before {
    content: "\eae6";
}
.ifc-bluetooth2:before {
    content: "\eae8";
}
.ifc-bluetooth:before {
    content: "\eae9";
}
.ifc-birthday_cake:before {
    content: "\eaea";
}
.ifc-birthday:before {
    content: "\eaeb";
}
.ifc-biotech:before {
    content: "\eaec";
}
.ifc-barbers_scissors:before {
    content: "\eb01";
}
.ifc-bar_chart:before {
    content: "\eb05";
}
.ifc-banknotes:before {
    content: "\eb06";
}
.ifc-bandage:before {
    content: "\eb07";
}
.ifc-ball_point_pen:before {
    content: "\eb08";
}
.ifc-bad_decision:before {
    content: "\eb09";
}
.ifc-background_color:before {
    content: "\eb0a";
}
.ifc-back:before {
    content: "\eb0c";
}
.ifc-avi:before {
    content: "\eb11";
}
.ifc-average:before {
    content: "\eb12";
}
.ifc-audio_wave2:before {
    content: "\eb15";
}
.ifc-audio_wave:before {
    content: "\eb16";
}
.ifc-asc:before {
    content: "\eb19";
}
.ifc-armchair:before {
    content: "\eb1a";
}
.ifc-area_chart:before {
    content: "\eb1c";
}
.ifc-archive:before {
    content: "\eb1e";
}
.ifc-aquarius:before {
    content: "\eb1f";
}
.ifc-application_shield:before {
    content: "\eb20";
}
.ifc-apartment:before {
    content: "\eb21";
}
.ifc-antiseptic_cream:before {
    content: "\eb23";
}
.ifc-android_os:before {
    content: "\eb27";
}
.ifc-ancore:before {
    content: "\eb28";
}
.ifc-anchor:before {
    content: "\eb29";
}
.ifc-ammo_tin:before {
    content: "\eb2a";
}
.ifc-amex:before {
    content: "\eb2b";
}
.ifc-ambulance:before {
    content: "\eb2c";
}
.ifc-alphabetical_sorting_za:before {
    content: "\eb2d";
}
.ifc-alphabetical_sorting_az:before {
    content: "\eb2e";
}
.ifc-align_right:before {
    content: "\eb2f";
}
.ifc-align_left:before {
    content: "\eb30";
}
.ifc-align_justify:before {
    content: "\eb31";
}
.ifc-align_center:before {
    content: "\eb32";
}
.ifc-alarm_clock:before {
    content: "\eb33";
}
.ifc-airplane_take_off:before {
    content: "\eb34";
}
.ifc-airplane:before {
    content: "\eb37";
}
.ifc-ai:before {
    content: "\eb39";
}
.ifc-age:before {
    content: "\eb3a";
}
.ifc-adventures:before {
    content: "\eb3b";
}
.ifc-adobe_photoshop:before {
    content: "\eb3c";
}
.ifc-adobe_indesign:before {
    content: "\eb3d";
}
.ifc-adobe_illustrator:before {
    content: "\eb3e";
}
.ifc-adobe_flash:before {
    content: "\eb3f";
}
.ifc-adobe_fireworks:before {
    content: "\eb40";
}
.ifc-adobe_dreamweaver:before {
    content: "\eb41";
}
.ifc-adobe_bridge:before {
    content: "\eb42";
}
.ifc-administrative_tools:before {
    content: "\eb43";
}
.ifc-add_user:before {
    content: "\eb44";
}
.ifc-add_image:before {
    content: "\eb46";
}
.ifc-add_database:before {
    content: "\eb47";
}
.ifc-zip2:before {
    content: "\eb49";
}
.ifc-f_tap:before {
    content: "\eb4a";
}
.ifc-f_swipe_up:before {
    content: "\eb4b";
}
.ifc-f_swipe_right:before {
    content: "\eb4c";
}
.ifc-f_swipe_left:before {
    content: "\eb4d";
}
.ifc-f_swipe_down:before {
    content: "\eb4e";
}
.ifc-f_double_tap:before {
    content: "\eb4f";
}




/*- - - - - - - - - - - - - - - - - - - - - - - - 

revolutionslider
custom.css
settings.css
- - - - - - - - - - - - - - - - - - - - - - - - */









