		/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 09 May 2016 14:35:18
*/


/* Images url references */


/*- - - - - - - - - - - - - - - - - - - - - - - - 

elements.css

- - - - - - - - - - - - - - - - - - - - - - - - */


.divider.single-dotted {

     background: url('https://www.monash.edu/__data/assets/image/0011/382466/bg-single-dotted.gif?v=0.1.1') repeat-x top left; 
}

.divider.double-dotted { 
    height: 4px;

    background: url('https://www.monash.edu/__data/assets/image/0005/382469/bg-double-dotted.gif?v=0.1.1') repeat-x top left;  
}    



.parallax .bx-wrapper .bx-prev { background: url('https://www.monash.edu/__data/assets/image/0009/382473/arrow-left.png?v=0.1.1') no-repeat center center;}
.parallax .bx-wrapper .bx-next { background: url('https://www.monash.edu/__data/assets/image/0007/382471/arrow-right.png?v=0.1.1') no-repeat center center;}


.full-screen-overlay {

    background: url('https://www.monash.edu/__data/assets/image/0006/382479/pattern.png?v=0.1.1') repeat top left;
}


#project-wrap .testimonial {

    background: url('https://www.monash.edu/__data/assets/image/0004/382450/570x400.png?v=0.1.1') no-repeat top left;

}

#searchsubmit { background: url('https://www.monash.edu/__data/assets/image/0003/382467/bg-search.png?v=0.1.1') no-repeat center center; }




/*- - - - - - - - - - - - - - - - - - - - - - - - 

layout.css

- - - - - - - - - - - - - - - - - - - - - - - - */



.mfp-ajax-holder .mfp-arrow-left {
   
    background: #ffb400 url('https://www.monash.edu/__data/assets/image/0009/382473/arrow-left.png?v=0.1.1') no-repeat center center; 
}

.mfp-ajax-holder .mfp-arrow-right {
   
    background: #ffb400 url('https://www.monash.edu/__data/assets/image/0007/382471/arrow-right.png?v=0.1.1') no-repeat center center; 
}


.full-screen-overlay {

    background: url('https://www.monash.edu/__data/assets/image/0006/382479/pattern.png?v=0.1.1') repeat top left;
}


#features, #discover {

    background: url('https://www.monash.edu/__data/assets/image/0010/382456/1920x1080.jpg?v=0.1.1') no-repeat top center;

}



.bx-wrapper .bx-loading {
    
    background: #fff url('https://www.monash.edu/__data/assets/image/0007/382480/bx_loader.gif?v=0.1.1') center center no-repeat;
}


.bx-wrapper .bx-prev {
    background: url('https://www.monash.edu/__data/assets/image/0009/382473/arrow-left.png?v=0.1.1') no-repeat center center;
}

.bx-wrapper .bx-next {
    background: url('https://www.monash.edu/__data/assets/image/0007/382471/arrow-right.png?v=0.1.1') no-repeat center center;
}


.bx-wrapper .bx-prev:hover { background: url('https://www.monash.edu/__data/assets/image/0009/382473/arrow-left.png?v=0.1.1') no-repeat center center; }
.bx-wrapper .bx-next:hover { background: url('https://www.monash.edu/__data/assets/image/0007/382471/arrow-right.png?v=0.1.1') no-repeat center center; }


.bx-wrapper .bx-controls-auto .bx-start {
    background: url('https://www.monash.edu/__data/assets/image/0003/382449/controls.png?v=0.1.1') -86px -11px no-repeat;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    background: url('https://www.monash.edu/__data/assets/image/0003/382449/controls.png?v=0.1.1') -86px -44px no-repeat;
}


  .discover-slider, .discover-slider-02, .discover-slider-03 {
      background: url('https://www.monash.edu/__data/assets/image/0009/382482/laptop_slider_background.png?v=0.1.1') no-repeat;
      background-size: 100%; 
  }



#form_wrapper label.error {
    background: url('https://www.monash.edu/__data/assets/file/0008/382427/error_icon.svg?v=0.1.1') no-repeat 0px 2px;
    background-size:1.3em auto;
    padding-left: 25px;
}


/*

Monash Colours



Monash Blue        #006CAB     White       
Blue                    #009FD8     White @18+     Adjusted
Cyan                    #43C5E4        Black
Light Cyan        #9DDAE5        Black
Black                    #231F20        White
Grey                    #423F40        White
Medium Grey        #939598        White @18+
Light Grey        #D1D3D4        Black
Purple                #44477A        White
Pink                    #B6006A        White
Green                    #96CA4F   White @18+     Adjusted
Yellow                #FDB515        Black

*/





.nick {
    background-image: url('https://www.monash.edu/__data/assets/file/0005/382424/nick.svg?v=0.1.1');
    /*height:32px;*/
    margin-left: auto;
    margin-right: auto;
}

