/**
 * Name: layout.css
 * Version: 1.0.0
 *	
 *	-
 *
 *	T.O.C
 *	
 *	#General Layout 
 *		#Header
 *		#Content
 *		#Footer
 *	#Page Styles
 *		#Home
 *		#Services
 *		#Features
 *		#About
 *		#Capabilities
 *		#Team
 *		#Portfolio
 *		#Blog
 *		#Client Testimonials
 *		#Prices
 *		#Clients List
 *		#Contact
 *		#Twitter
 *	#Responsive
 *		#Large Display
 *		#Smaller then 1024px width	
 *		#Tablet ( Portrait )
 *		#Mobile ( Portrait and Landscape )
 *		#Mobile ( Landscape )
 */

/* ==========================================================================
   #General Layout 
   ========================================================================== */

	#wrap { background-color: #fff; }
	
	/* Magnific Popup Buttons */
	
	.mfp-ajax-holder button.mfp-close {
		position: fixed;
		top: 30px;
		right: 30px;
		border-radius: 50%;
		background-color: #069;
		color: #fff;
		opacity: 1;
	}
	
	.mfp-ajax-holder .mfp-arrow {
		position: fixed;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		opacity: 1;
	}
	
	.mfp-ajax-holder .mfp-arrow-left {
		left: 30px;
		background: #069 url(../images/arrow-left.png) no-repeat center center; 
	}
	
	.mfp-ajax-holder .mfp-arrow-right {
		right: 50px;
		background: #069 url(../images/arrow-right.png) no-repeat center center; 
	}
	
	.mfp-ajax-holder .mfp-arrow-left:before,
	.mfp-ajax-holder .mfp-arrow-right:before,
	.mfp-ajax-holder .mfp-arrow-left:after,
	.mfp-ajax-holder .mfp-arrow-right:after { border: none; }
	
/* #Header
   ========================================================================== */
	
    #header {
		position: absolute;
		z-index: 1000;
		top: 60px;
		right: 0;
		left: 0;
		padding: 20px 0; 
	}
		
	/* Logo */

	#logo { 
		display: block;
		width: 100%;
		-webkit-transition: all 0.5s;
			 -o-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	#logo img { display: block; }

	/* Right Menu */
	
	a.menu-collaps {
		position: relative;
		float: right;
		display: block;
		color: #fff;
		text-align: center;
		opacity: 0.5;
		-webkit-transition: all 0.5s;
			 -o-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	a.menu-collaps i { 
		font-size: 42px;
		-webkit-transition: all 0.5s;
			 -o-transition: all 0.5s;
				transition: all 0.5s; 
	}
	
	a.menu-collaps:hover { opacity: 1; }
	
	a.menu-collaps:hover { opacity: 1; }

	#nav-menu {
		position: fixed;
		z-index: 25;
		top: 0;
		right: -380px;
		width: 250px;
		height: 100%;
		background: #303133;
		color: #fff;
	}
	
	#nav-menu.cbp-spmenu-open { right: 0; }
	
	.cbp-spmenu,
	.cbp-spmenu-push {
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}
	
	#nav-menu a.close-menu {
		position: absolute;
		top: 65px;
		left: -15px;
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 5px;
		margin: 0;
		background: #ccc;
		text-align: center;
	}
	
	#nav-menu a.close-menu i {
		color: #303133;
		font-size: 13px;
		line-height: 30px;
		text-decoration: none;
	}
	
	.cbp-spmenu-push {
		position: relative;
		left: 0;
	}
	 
	.cbp-spmenu-push-toleft { left: -360px; }
	
	.nav.menu {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.nav.menu li { background: #303133; }
	
	.nav.menu li.active,
	.nav.menu li:hover { background: #069; }
	
	.nav.menu li a {
		display: block;
		padding: 25px 0 25px 50px;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		/*text-transform: uppercase;*/
		text-decoration: none;
	}

	/* Menu basics */

	.sf-menu, 
	.sf-menu * {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.sf-menu li {
		position: relative;
		white-space: nowrap;
	}
	
	.sf-menu ul {
		position: absolute;
		z-index: 99;
		top: 100%;
		left: 0;
		display: none;
	}
	
	.sf-menu > li { float: left; }
	
	.sf-menu li:hover > ul,
	.sf-menu li.sfHover > ul { display: block; }
	
	.sf-menu a {
		display: block;
		position: relative;
	}
	
	.sf-menu ul ul {
		top: 0;
		left: 100%;
	}
	
	/* Menu skin */
	
	.sf-menu { 
		float: right;
		-webkit-transition: all 0.5s;
			 -o-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.sf-menu a {
		padding: 10px 15px;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.15);  
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		color: #fff; 
		/*text-transform: uppercase;*/  
	}
	
	.sf-menu > li > a {
		position: relative;
		padding: 6px 20px 5px 20px;
		border: none;
		font-size: 16px;   
	}
	
	.sf-menu > li > a:before {
		position: absolute;
		bottom: 0;
		left: 20px;
		width: 20px;
		border-bottom: 1px solid transparent;
		content: "";
	}
	
	.sf-menu li {
		-webkit-transition: background 0.2s;
			 -o-transition: background 0.2s;
				transition: background 0.2s;
	}
	
	.sf-menu li:hover,
	.sf-menu li.sfHover {
		position: relative;  
		text-decoration: none;	
	}
	
	.sf-menu li:hover a,
	.sf-menu li.sfHover a {
		text-decoration: none;
	}
	
	.sf-menu li a:hover { /*color: #D8DCDE;*/ color: #006CAB; 

        }

        .stuck .sf-menu .active a {  color: #006CAB !important;   }

	.sf-menu li a:focus { color: #006CAB; outline: thin dotted; }
	
	.sf-menu li.active a {}
	.sf-menu > li.active > a:before { border-bottom-color: #069; }
	
	/**
 	 * 1. allow long menu items to determine submenu width
 	 */
	
	.sf-menu ul {
		min-width: 200px; /* 1 */
		border: 1px solid rgba(0, 0, 0, 0.1); 
		-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);   
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); 
		background-color: #fff;			
	}
	
	.sf-menu ul > li:last-child > a { border-bottom: none; }
	
	.sf-menu ul ul li {}

	/* Menu arrows */
	
	.sf-arrows .sf-with-ul { padding-right: 30px; }
	
	/* Bottom facing arrows */
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: 10px;
		height: 0;
		width: 0;
		border: 5px solid transparent;
		border-top-color: rgba(0, 0, 0, 0.5);
		margin-top: -13px;
		content: "";
	}
	
	/* Right facing arrows */
	
	.sf-arrows ul .sf-with-ul:after {
		margin-top: -5px;
		margin-right: -3px;
		border-color: transparent;
		border-left-color: rgba(0, 0, 0, 0.5);
	}
	
	/* Mobile Menu  */
			
	#mobile-menu {
		z-index: 20;
		border-bottom: 1px solid #efefef;
		margin-bottom: 0;
		background-color: #069;
	}
	
	#mobile-menu li {	
		display: block;
		margin: 0;
	}
		
	#mobile-menu > li > ul, 
	#mobile-menu > li > ul > li > ul {
		display: none;
		margin-left: 0;
	}

	#mobile-menu li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-top: 1px solid #efefef;
		color: #fff;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	
	#mobile-menu ul a { padding-left: 45px; }
	
	#mobile-menu ul li ul a  { padding-left: 65px; }
	
	#mobile-menu .mobile-menu-submenu-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 100%;
		border-left: 1px solid #efefef;
		color: #333;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #f3f3f3; }
	
	#mobile-menu li a:hover {}
	
	#mobile-menu { display: none; }
	
	/* Mobile menu trigger  */
				
	#mobile-menu-trigger { 
		float: right;
		display: none;
		color: #069;
		font-size: 32px;  
	}
	
	@media (min-width: 1024px) {
		
		#header {
			position: absolute;
			z-index: 25;
			top: 0;
			right: 0;
			left: 0;
			padding: 60px 0;
			background-color: transparent;
			-webkit-transition: all 0.5s;
			     -o-transition: all 0.5s;
					transition: all 0.5s;
		}
		
		#header.stuck {
			position: fixed !important;
			z-index: 1000;
			top: 0;
			width: 100% !important;
			padding: 10px 0;
			-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);   
					box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); 
			background: #fff;
		}
		

		
		a.menu-collaps { color: #fff; }
	
		.stuck a.menu-collaps { 
			margin-top: 5px;
			color: #4b4b4b;
		}
		
		.stuck a.menu-collaps i { font-size: 32px; }
		
		.sf-menu { margin-top: 3px; }
		.sf-menu a { color: #fff; }
		.stuck .sf-menu a { color: #4b4b4b; }
		
	}		
	
/* #Content
   ========================================================================== */
   		
	#content { min-height: 300px; }
	
			
/* #Footer
   ========================================================================== */		
		
	#footer { 
		padding: 45px 0;
		background-color: #1b1b1b;
		color: #fff;
	}
	
	#footer p { margin-top: 10px; }	
			
/* ==========================================================================
   #Page Styles
   ========================================================================== */
   
/* #Home
   ========================================================================== */
   
    .full-screen { position: relative; }
	
	.full-screen-overlay {
		position: absolute;
		z-index: 22;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../../_content/backgrounds/pattern.png) repeat top left;
	}

/* #Services
   ========================================================================== */
   
    #services { padding: 80px 0 100px 0; }


/* #Features
   ========================================================================== */
	
	#features {
		position: relative;
		padding: 70px 0 37px 0;
		background: url(../../_content/corporate/backgrounds/1920x1080.jpg) no-repeat top center;
		color: #fff;
	}
	
	#features .headline { margin-bottom: 60px; }
	#features .headline h1 { color: #fff; }
	#features .headline h1:before { border-bottom-color: #fff; }
	
	.bg-features-slider {
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: -65px;
		left: 0;
		max-width: 100%;
		margin: 0 auto;
	}
	
	/* Butons List */
	
	.buttons {
		margin-bottom: 100px;
		text-align: center;
		list-style: none;
	}
	
	.buttons li { display: inline-block; }
	
	.buttons li a.btn {
		border: 1px solid #fff;
		background-color: transparent;
		/*text-transform: uppercase;*/
	}
	
	.buttons li a.btn:hover,
	.buttons li a.btn.active {
		border-color: #069;
		background-color: #069; 
	}
   
/* #About
   ========================================================================== */
   
   	#about { padding-top: 100px; }

   
/* #Capabilities
   ========================================================================== */
   
    #capabilities .headline { 
		padding-top: 20px;
		margin-top: 0;
	}
   
/* #Team
   ========================================================================== */
   
    #team { padding-top: 50px; }
	
	.team-member { 
		position: relative;
		-webkit-transition: padding-bottom 0.3s;
			 -o-transition: padding-bottom 0.3s;
				transition: padding-bottom 0.3s;
	}
		
	.team-member-preview { position: relative; }
	
	.team-member-preview img {
		display: block;
		width: 100%;
	}
	
	.team-member h4 {
		position: relative;
		z-index: 5;
		padding: 15px 20px;
		border-top: 3px solid #069;
		margin-bottom: 0;
		background-color: #4b4b4b;
		color: #fff;
		-webkit-transition: margin-top 0.3s;
			 -o-transition: margin-top 0.3s;
				transition: margin-top 0.3s;
	}
	
	.team-member p {
		position: relative;
		z-index: 5;
		padding: 15px 20px;
		margin-bottom: 0;
		background-color: #2a2a2a;
		color: #fff;
	}
	
	.team-member-overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 102, 153, 0.5);
		opacity: 0;
		-webkit-transition: opacity 0.3s;
			 -o-transition: opacity 0.3s;
				transition: opacity 0.3s;
	}
	
	.team-member-social-media {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 15px 25px;
		background-color: #069;
		font-size: 14px;
		font-weight: 700;
		text-align: right;
		/*text-transform: uppercase;*/
	}
	
	.team-member-social-media a { color: #fff; }
	
	.team-member:hover { padding-bottom: 54px; }
	.team-member:hover .team-member-overlay { opacity: 1; }
	.team-member:hover h4 { 
		border-top: none;
		margin-top: -54px;
	}
      
/* #Portfolio
   ========================================================================== */
   
    #portfolio { padding-top: 80px; }
	#portfolio .headline { margin-bottom: 60px; }
   
    /* Project Page */
	
	#project-wrap {
		max-width: 980px;
		padding: 50px 0;
		margin: 100px auto;
		background-color: #fff;
	}
   
    /* Isotope */
	
	.portfolio-items { 
		margin-bottom: 0;
		list-style: none; 
	}
	
	.portfolio-items li {
		float: left;
		width: 25%;
	}
   
    /* Portfolio Item */
	
	.portfolio-item { position: relative; }
	
	.portfolio-item-preview { 
		position: relative;
		overflow: hidden; 
	}
	
	.portfolio-item-preview > img {
		display: block;
		width: 100%;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-overlay {
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0; 
		background-color: rgba(0, 102, 153, 0.5);
		opacity: 0;
		-webkit-transition: opacity 0.3s;
			 -o-transition: opacity 0.3s;
				transition: opacity 0.3s;
	}
	
	.portfolio-item:hover .portfolio-item-overlay { opacity: 1; }	
		
	.portfolio-item-overlay-actions { text-align: center; }
	.portfolio-item-overlay-actions img { display: block; }
	
	.portfolio-item-overlay-actions .portfolio-item-zoom,
	.portfolio-item-overlay-actions .portfolio-item-link {
		position: absolute;
		top: 50%;
		border: 1px solid #fff;
		border-radius: 50%;
		margin-top: -28px;
		background-color: #069;
		opacity: 0.7;
		-webkit-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-overlay-actions .portfolio-item-zoom { left: 0; }
	.portfolio-item-overlay-actions .portfolio-item-link { right: 0; }
	
	.portfolio-item-overlay-actions .portfolio-item-zoom:hover,
	.portfolio-item-overlay-actions .portfolio-item-link:hover {
		text-decoration: none;
		opacity: 1;
	}
	
	.portfolio-item-description {
		padding: 20px;
		text-align: center;
		-webkit-transition: background-color 0.3s;
			 -o-transition: background-color 0.3s;
				transition: background-color 0.3s;
	}
	
	.portfolio-item-description p,
	.portfolio-item-description h2,
	.portfolio-item-description h4 { margin-bottom: 0; }
	
	.portfolio-item-overlay .portfolio-item-description {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		color: #fff;
		-webkit-transition: bottom 0.5s;
			 -o-transition: bottom 0.5s;
				transition: bottom 0.5s;
	}
	
	.portfolio-item-overlay .portfolio-item-description h2,
	.portfolio-item-overlay .portfolio-item-description h4 { color: #fff; }
	
	.portfolio-item-description + .portfolio-item-overlay-actions .portfolio-item-zoom,
	.portfolio-item-description + .portfolio-item-overlay-actions .portfolio-item-link  { margin-top: -80px; }
	
	.portfolio-item:hover .portfolio-item-overlay-actions .portfolio-item-zoom { 
		left: 50%;
		margin-left: -65px;
	}
	
	.portfolio-item:hover .portfolio-item-overlay-actions .portfolio-item-link { 
		right: 50%;
		margin-right: -65px;
	}
	
	.portfolio-item:hover .portfolio-item-description { 
		background-color: #069;
		color: #fff;
	}
	
	.portfolio-item:hover .portfolio-item-overlay .portfolio-item-description {
		bottom: 10%;
		background-color: transparent; 
	}
	
	.portfolio-item:hover .portfolio-item-description h3 { color: #fff; }
	
	.portfolio-item:hover .portfolio-item-preview > img { 
		-webkit-transform: scale(1.3) rotate(10deg); 
			-ms-transform: scale(1.3) rotate(10deg); 
			 -o-transform: scale(1.3) rotate(10deg); 
				transform: scale(1.3) rotate(10deg);  
	}

	/* Portfolio filter */
	
	.portfolio-filter ul {
		margin-bottom: 90px;
		list-style: none;
		text-align: center;
	}
	
	
	.portfolio-filter ul li:last-child { margin-right: 0; }
	
/* #Blog
   ========================================================================== */
   
    #blog {
		padding: 80px 0;
		background-color: #f6f6f6;
	}
   
	/* Blog Post */
	
	.blog-post { 
		position: relative;
		margin-bottom: 40px;
	}
	
	.blog-post-title { 
		position: absolute;
		right: 70px;
		bottom: 70px;
		left: 70px;
		padding: 30px;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		-webkit-transition: all 0.5s;
			 -o-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.blog-post-title a,
	.blog-post-title h6 { color: #fff; }
	
	.blog-post-thumb {}
	
	.blog-post-info {
		position: absolute;
		right: 70px;
		bottom: 30px;
		left: 70px;
		padding: 30px;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		opacity: 0;
	}
	
	.blog-post-info .btn { margin-bottom: 0; }
	
	.blog-post:hover .blog-post-info { 
		opacity: 1;
		-webkit-transition: all 0.5s ease 0.3s;
			 -o-transition: all 0.5s ease 0.3s;
				transition: all 0.5s ease 0.3s;
	}
	
	.blog-post:hover .blog-post-title { 
		bottom: 242px;
		padding-bottom: 0;
	}
	
	.blog-post-readmore {}
	
	.blog-post-date {
		position: absolute;
		top: 70px;
		left: 70px;
		width: 70px;
		padding: 15px 0;
		background-color: #069;
		color: #201914;
		font: 26px 'Montserrat', sans-serif;
		line-height: 18px;
		text-align: center;
		/*text-transform: uppercase;*/
	}
	
	.blog-post-2 {
		overflow: hidden;
		padding: 0 30px;
		border-radius: 3px;
		margin-bottom: 40px;
		background-color: #fff;
	}
	
	.blog-post-2 .blog-post-title {
		position: relative;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0;
		margin-bottom: 30px;
		background-color: transparent;
		color: #4b4b4b;
	}
	
	.blog-post-2 .blog-post-title a,
	.blog-post-2 .blog-post-title h6 { color: #4b4b4b; }
	
	.blog-post-2 .blog-post-thumb { margin: 0 -30px 30px -30px; }	
	
	.blog-post-2 .blog-post-info {
		position: relative;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0;
		background-color: transparent;
		color: #4b4b4b;
		opacity: 1;
	}
	
	.blog-post-2 .blog-post-info .btn { margin-bottom: 20px; }
	
	/* Blog Post Page */
	
	#blog-post-wrap {
		max-width: 980px;
		padding: 100px 0;
		margin: 100px auto;
		background-color: #f6f6f6;
	}
	
	#blog-post-wrap .blog-post { 
		padding: 50px;
		border-bottom: 2px solid #bebebe;
		margin-bottom: 80px;
		background-color: #fff;
	}
	
	#blog-post-wrap .blog-post-title {
		position: relative;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0;
		margin-bottom: 30px;
		background-color: transparent;
		color: #4b4b4b;
	}
	
	#blog-post-wrap .blog-post-title .headline h5 { text-transform: none; }
	#blog-post-wrap .blog-post-title a { color: #4b4b4b; }
	
	#blog-post-wrap .blog-post-thumb { margin: 0 -50px 30px -50px; }
	
	#blog-post-wrap .blog-post-info {
		position: relative;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0;
		margin-bottom: 30px;
		background-color: transparent;
		color: #4b4b4b;
		opacity: 1;
	}
   
/* #Client Testimonials
   ========================================================================== */	
	
	#client-testimonials .parallax { margin-bottom: 0; } 
	
	#client-testimonials .headline { margin-bottom: 55px; }
	
	.client-testimonials-slider { 
		max-width: 75%;
		margin: 0 auto;
	}
   
/* #Prices
   ========================================================================== */
   	
	#prices { padding: 80px 0; }
   
/* #Clients List
   ========================================================================== */
   
   #clients-list .parallax { margin-bottom: 0; } 
   #clients-list .headline { margin-bottom: 70px; }
   
/* #Contact
   ========================================================================== */
    
	#contact { padding: 80px 0 60px 0; }
   
    /* Contact Info */
	
	.contact-info {
		margin: 40px 0;
		list-style: none; 
	}
	
	.contact-info li {
		position: relative;
		padding-left: 35px; 
		margin-bottom: 35px; 
	}

	.contact-info li:last-child { margin-bottom: 0; }
	
	.contact-info li i {
		position: absolute;
		top: 3px;
		left: 0;
		font-size: 20px;
	}
	
	.contact-info li img {
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
	}
	
	.contact-info li a { color: #4b4b4b; }
   
	/* Contact Form */
  
	#contact-form { 
		overflow: hidden;  
		margin-bottom: 40px; 
	}
	
	#contact-form fieldset { margin: 0; }
	
	label.validation-error { color: #b55454; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #a1a1a1; }
	
	#contact-form #formstatus {}
		
	#contact-form textarea {}
	#contact-form input[type="submit"] { border: none; }
	
	/* Social Media */	
	
	.social-media { list-style: none; }
		
	.social-media li { 
		display: inline-block;
		margin-right: 20px;
	}
	
	.social-media li:last-child { margin-right: 0; }
	
	.social-media li a:hover { opacity: 0.7; }
  
/* #Twitter
   ========================================================================== */
	
	#twitter .parallax { margin-bottom: 0; } 
	
	#tweet {
		max-width: 50%;
		margin: 30px auto 0;
		text-align: center; 
	}
		 
	#tweet a { color: #fff; }
	
	#tweet .interact a { margin-right: 10px; }
	#tweet .interact a:last-child { margin-right: 0; }
	
	
/* ==========================================================================
   #Responsive
   ========================================================================== */
   
/* #Large Display
   ========================================================================== */
   	
	@media (min-width: 1400px) {
		
		#wrap {}
		
		#project-wrap,
		#blog-post-wrap { max-width: 1300px; }
		
		/* Features */
		
		#features { padding-bottom: 45px; }
		.bg-features-slider { bottom: -79px; }
		
		/* Portfolio */
		
		.portfolio-item-description + .portfolio-item-overlay-actions .portfolio-item-zoom,
		.portfolio-item-description + .portfolio-item-overlay-actions .portfolio-item-link  { margin-top: -60px; }
		
		.portfolio-item:hover .portfolio-item-overlay .portfolio-item-description { bottom: 20%; }

	}

/* #Smaller then 1024px width
   ========================================================================== */
	
	@media (max-width: 1024px) {

		#wrap {}
		
		#header {}
		
		#content {}
		
		#footer {}
		
	}

/* #Tablet (Portrait)
   ========================================================================== */

	@media (min-width: 768px) and (max-width: 979px) {
		
		#wrap {}
		
		#project-wrap,
		#blog-post-wrap { max-width: 100%; }
		
		#header {
			position: relative;
			top: 0;
			background-color: #1b1b1b;
		}
		
		.sf-menu { display: none; }
		
		#mobile-menu-trigger {
			display: block; 
			margin-top: 3px;
		}
		
		#content {}
		
		#footer {}
		
		/* Features */
		
		#features { padding-bottom: 28px; }
		.bg-features-slider { bottom: -49px; }
		
		/* Portfolio */
		
		.portfolio-items li { width: 33.3333333333%;	}
		
		/* Client Testimonials */
		
		.client-testimonials-slider { max-width: 100%; }

		/* Twitter */
		
		#tweet { max-width: 75%; }
		
	}
	
/* #Mobile (Portrait and Landscape )
   ========================================================================== */
	
	@media (max-width: 767px) {
	
		body { 
			background: none; 
			background-color: #fff; 
		}
		
		#wrap {}
		
		#project-wrap,
		#blog-post-wrap { max-width: 100%; }
		
		#header {
			position: relative;
			top: 0;
			background-color: #1b1b1b;
		}
		
		#logo {}
		
		.sf-menu { display: none; }
		
		#mobile-menu-trigger,
		a.menu-collaps { 
			position: absolute;
			top: -4px;
			right: 10px;
			display: block;
			padding: 10px;
		}
		
		a.menu-collaps i { font-size: 32px; }
		
		#content {}
		
		#footer{}	

		.row { padding: 0 40px; }
		
		.row .row { 
			width: auto; 
			padding: 0 20px; 
			margin: 0; 
		}
		
		p.last, 
		h1.last, 
		h2.last, 
		h3.last, 
		h4.last, 
		h5.last, 
		address.last, 
		ul.last, 
		ol.last { margin-bottom: 20px; }
		
		.text-right { text-align: left; }
		
		/* Features */
		
		.buttons { margin-bottom: 40px; }
		.bg-features-slider { display: none; }
		
		.buttons li { display: block; }
		
		/* Team */
		
		#team { padding-bottom: 0; }
		.team-member { margin-bottom: 40px; }
		
		/* Portfolio */
		
		#portfolio { padding-top: 40px; }
		
		.portfolio-items li {
			float: none;
			width: 100%;
		}
		
		
		.portfolio-filter ul li:last-child { margin-bottom: 0; }
		
		/* Blog */
		
		.blog-post-title {
			position: relative;
			right: 0;
			bottom: 0;
			left: 0;
		}
		
		#blog-post-wrap .blog-post { padding: 0 15px 50px 15px; }
		#blog-post-wrap .blog-post-thumb { margin: 0 -15px 30px -15px; }
		
		.blog-post:hover .blog-post-title { 
			bottom: 0;
			padding-bottom: 30px;
		}
		
		.blog-post:hover .blog-post-info { opacity: 0; }
		
		/* Client Testimonials */
		
		.client-testimonials-slider { max-width: 100%; }
		
		/* Contact */
		
		.social-media li { margin-right: 9px; }
		
		/* Twitter */
		
		#tweet { max-width: 100%; }

	}
	
/* #Mobile ( Landscape )
  ========================================================================== */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.row { padding: 0 40px; }
		
		#mobile-menu-trigger { right: 30px; }
		
		/* Portfolio Items */
		
		.portfolio-items li {
			float: left;
			width: 50%;
		}
		
	}	