.fullwidthbanner-container {
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
	margin-bottom: 0;
}

.fullwidthbanner-container .fullwidthbanner {
    position: relative;
    width: 100% !important;
}

.caption { z-index: 30; }
.caption.image { z-index: 15; }

.caption.title {
	color: #fff;
	font-size: 72px;
	line-height: 72px;
	text-align: left;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

.caption.title-2 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	text-align: left;
	font-weight: 700;
	/*text-transform: uppercase;*/
}


.caption span { color: #069; }

.caption.subtitle {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
	/*text-transform: uppercase;*/
}

.caption.subtitle-2 {
	color: #fff;
	font-size: 36px;
	line-height: 56px;
	text-align: left;
	/*text-transform: uppercase;*/
}

.caption.subtitle-3 {
	color: #fff;
	font: 18px 'Volkhov', serif;
	text-align: center;
	font-style: left;
}

.caption.text {
	display: inline-block;
	padding: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	font: 18px;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

.caption.text a { color: #fff; }

.caption .btn {
	border: 1px solid #fff;
	background-color: transparent; 
	color: #fff;
}

.caption .btn.alt {
	border-color: transparent;
	background-color: #069;
}

.caption .btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.caption a.arrow {
	display: block;
	width: 48px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	padding: 12px 0;
	border-radius: 50%;
	background-color: #069;
	text-align: center;
}

.caption a.arrow img { 
	width: auto !important;
	height: auto !important;
}

@media (max-width: 767px) {
	
	.caption .btn { 
/*		padding: 3px;
		font-size: 6px;
		line-height: 12px*/
	}
	
}